/*color variables*/

$red          :       #ed1b24;
$orange       :       #f26426;
$gray         :       #444444;
$violet       :       #c22eda;

$light-gray   :       #F1F1F1;
$blue         :       #4085e4;
$green        :       #439322;

$white		    :		    #ffffff;


$border-g     :       #CCCCCC;
$border-lg    :       #E6E6E6;

$txt-gray     :       #3F3F3F;
$txt-lgray    :       #424242; 

$light        :       300;      
$regular      :       400;
$medium       :       500;


//bootstrap dropdown 
//sort select sidebar
.drop-z.dropdown {
  button.btn {
    font-size: 12px;
    border-radius: 0px;
    border: 0px none;
    background: transparent none repeat scroll 0% 0%;
    font-weight: 300;
    padding: 16px 0px 10px 15px;
  }
  ul.dropdown-menu {
    border-radius: 0px;
    margin-top: 0;
    box-shadow:none;
    margin-left: -1px;
    padding-top: 0;
    padding-bottom: 0; 
    li {
      i {
        position: absolute;
        left: 0;
        visibility:hidden;
      }
      a {
        font-size: 12px;
        font-weight: 400;
        text-align: left;
        text-indent: 15px;
        &.selected {
          background:#444 !important;
          color:white !important;
          i {
           visibility:visible !important;
          }
        }
      }
      &:hover a{
        background:#444 !important;
        color:#fff !important;
      }
    } 
  }
}
.btn-default:active:hover, .btn-default:active:focus, .btn-default.focus:active, .btn-default.active:hover, .btn-default.active:focus, .btn-default.active.focus, .open > .btn-default.dropdown-toggle:hover, .open > .btn-default.dropdown-toggle:focus, .open > .btn-default.dropdown-toggle.focus{
  background:none !important;
}

//progress bar

.progress {
  border:solid 1px $orange;
  background:$white;
}
.progress {
  .progress-bar {
    text-align: left;
    padding-left: 0px;
    &.progress-bar-danger {
      background:$red;
    }
    &.progress-bar-warning {
      background: $orange;
    }
  }
  a {
    margin-right:20px;
  }
}

// override bootstrap text color
.text-danger {
  color:$red;
}
.text-warning {
  color:$orange;
}

//report

@mixin inset-left($border-color) {
  -webkit-box-shadow: inset 5px 0px 0px 0px rgba($border-color,1);
     -moz-box-shadow: inset 5px 0px 0px 0px rgba($border-color,1);
          box-shadow: inset 5px 0px 0px 0px rgba($border-color,1);  
}

div{
  &.orange {
    @include inset-left($orange); 
  } 
  &.red {
    @include inset-left($red); 
  }
  &.green {
    @include inset-left($green);
  }
  &.blue {
    @include inset-left($blue);
  }
  h3.stat-number {
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 1px;
    margin-top: 15px;
  }
  p.stat-description {
    font-size: 12px;
  }     
}

//final status button

//label 
label {
  &.span-stat {
    width: 100px;
    color:#fff;
    text-align: center;
    padding: 4px;
    border-radius: 3px;
    font-size: 14px;
    font-weight:$medium;

    &.priority {

    }
    &.in-progress {
      background:$blue;
      border:solid 1px darken($blue,5%);
    }    
    &.approved {
      background:$green;
      border:solid 1px darken($green,5%);
    }
    &.initiated {
      background:#E5C200;
      border: 1px solid #C1A300;
    }
    &.pending-progress {

    }
    &.pending-overdue {

    }
    &.completed {

    }
    &.activity {
      background:#E5C200;
      border: 1px solid #C1A300;    
    }
    &.rejected {

    }
    &.returned {

    }
    &.overdue {
      background:$red;
      border:solid 1px darken($red,5%);
    }
    &.completed {
      background:$green;
      border:solid 1px darken($green,5%);
    }
  }
}


/*labels*/
.label-status {
  width: 145px;
  padding: 8px;
  text-align: center;
  color: white;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 400;
}

.status {
  color: #FFF;
  padding: 5px 20px 3px 20px;
  border-radius: 3px;
  text-align: center;
  font-weight: $medium;
  font-size: 12px;

  &.bg-danger {
    background: #EB0E17;
    border: 1px solid #E30009;
  }
  &.bg-success {
    background:$green;
    border:solid 1px darken($green,3%);
  }
  &.bg-info {
    background: #4084E4;
    border: 1px solid #2A74DE;
  }
  &.bg-primary {
    background: #429321;
    border: 1px solid #369211;
  }
  &.bg-warning {
    background:$orange;
    border:solid 1px darken($orange,3%);
  }
  &.bg-initiated {
    background:#E5C200;
    border: 1px solid #C1A300;
  }
}



.label-danger {
    background:$red;
}
.label-primary {
    background:$blue;
}
.label-warning {
    background:$orange;
}
.medium-label {
    font-size: 13px;
    font-weight: 400;
}

/*buttons*/
.btn {
  border-radius:3px !important;
  &.btn-small {
    width: 50px;
    padding: 4px 8px;
    font-size: 12px;
    font-weight: 400;
  }
  &.btn-new {
    width: 140px;
    padding: 12px 10px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 3px
  }
  &.btnf-f {
    width:125px;
    font-weight:400;
    font-size:13px;
    padding: 6px 16px;
  }
  &.add {
    color: #454444;
    font-size: 12px;
    font-family: 'Fira Sans';
    font-weight: $medium;
    width:165px !important;
    span.fa-stack {
      height:1.5em !important;
      line-height:1.5em !important;
      i {
        &.fa-circle {
          color:#439322 !important;
          font-size:1.5em !important;
        }
        &.fa-plus {
        }
      }
    }
  }
}

//buttons  

.btn-default {
  background:#f3f3f3;
  border:solid 1px #b0b0b0;
  font-weight:400;
  font-size:14px; 
  color:#444444;
}
.btn-success {
  background:$green;
  border-color:darken($green,3%); 
  font-weight:500;
  font-size:14px; 
}
.btn-danger {
  background:$red;
  border-color:darken($red,3%);
  font-weight:500;
  font-size:14px;   
}
.btn-warning {
  @include button-variant(#fff, $orange, #EB5513);
}

.btn-priority {
  @include button-variant(#fff, $violet, $violet);
}
.btn-vh-center {
    position: absolute;
    top: 3px;
    right: 30px;
    font-weight:400;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size:13px;
    width:75px;
}


.form-panel {
  .form-group{
    margin-bottom:15px;
    .form-control {
      border-radius:3px;
      &:hover {
        border:solid 1px gray;
        box-shadow:none;
      }
      &:active {
        border:solid 1px gray;
        box-shadow:none;
      }
      &:focus {
        border:solid 1px gray;
        box-shadow:none;
      }
    }
  }
  label.control-label {
    top: 8px;
    font-weight: 400;
    font-size: 13px;
    padding:0;
    text-align:right;
    &.left-label {
      text-align: left !important;
    }
  }
}
tr td input[type=checkbox].form-control {
      -webkit-transform: scale(.62) !important;
}
input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(1.25); /* IE */
  -moz-transform: scale(1.25); /* FF */
  -webkit-transform: scale(1.2); /* Safari and Chrome */
  -o-transform: scale(1.25); /* Opera */
  padding: 5px;
}
.form-control {
  border-radius:3px;
  &:hover {
  border:solid 1px gray;
  box-shadow:none;
  }

  &:active {
  border:solid 1px gray;
  box-shadow:none;
  }
  &:focus {
  border:solid 1px gray;
  box-shadow:none;
  }
}
textarea.form-control {
    border-radius:0 !important;
}

@media (min-width: 992px){
  .row.row-col {
    display: table;
    table-layout: fixed;
    width: 100%;
  }
  .left-col, .right-col {
    float: none;
    display: table-cell;
    vertical-align: top;
  }
}



.hr-text{
  border-color:#000 !important;
  &::before {
    content:"PERMISSIONS AND NOTIFICATIONS";
    position: relative;
    color:#000;
    font-size:12px;
    top:-10px;
    left:30px;
    background:white;
    
  }
}

div.pre {
  border-top:solid 1px;
  margin-top:20px;
  background:rgb(248,248,248);
  padding:10px 30px !important;
}
div.pre:before {
  content: 'PERMISSIONS & NOTIFICATIONS';
  position: relative;
  top:-18px;
  z-index: 999;
  color:#000;
  font-weight:500;
}
div.pre:after {
  background:rgb(248,248,248);
  position: absolute;
  content: "";
  left:25px;
  top:-1px;
  width:214px;
  height: 20px;
}