//calendar

.ui-datepicker {
	padding:15px !important;
	&.ui-corner-all  {
		border-radius:0 !important;
	}
	.ui-datepicker-header.ui-widget-header{
		background:none;
		border:0;
		border-bottom:solid 1px !important;
		border-radius:0 !important;
		font-weight:400;
		padding-bottom:10px;
	}
	.ui-datepicker-title {
		color: #4444;
		font-size: 14px;
		text-transform: uppercase;	
	}
	table.ui-datepicker-calendar {
		th {
			font-weight: 400;
			font-size: 13px;
		}
		td {
			a {
				border:0 !important;
				background:none !important;
				text-align:center !important;
				font-size:13px;
				color:#444;
				&.ui-state-highlight {
					color:$red !important;
				}
				&.ui-state-default.ui-state-active {
					color:$red !important;				
				}
			}
		}
	}
	//right
	.ui-icon-circle-triangle-e {
		background-position: -30px -0px !important;
	}
	//left
	.ui-icon-circle-triangle-w {
		background-position: -95px 0px !important;
	}
}
button.ui-datepicker-trigger {
	height: 34px;
	font-size: 9px;
	width: 40px;
	border: 0;
	box-shadow: none;
	border-right: solid 1px #ccc;
	border-top: solid 1px #ccc;
	border-bottom: solid 1px #ccc;
}
//range date picker


.ui-datepicker-group.ui-datepicker-group-middle {
	border:solid 1px !important;
	border-top:0 !important;
	border-bottom:0 !important;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border: none !important;
    background: none !important;
    font-weight: normal;
    color: $red;
 }

//main search
.ui-autocomplete, .ui-autocomplete .ui-menu-item, .ui-autocomplete .ui-menu-item a {
  background-image:none !important;
}
.ui-widget-content{
	&.main-search {
		.ui-menu-item {
			font-family: 'Fira Sans', sans-serif !important;
			font-weight:400 !important;
			padding:10px 15px;
			font-weight:400;
			font-size:14px;
			&.ui-state.focus {
				background:#E6E6E6 !important;
			}
		}
		&.fixed-ul {
			position:fixed !important;
		}
	}	
}


//combobox
  .custom-combobox {
    position: relative;
    display: inline-block;
  }
  .custom-combobox-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    padding: 0;
  }
  .custom-combobox-input {
    margin: 0;
    padding: 5px 10px;
  }

  //spinner

.ui-spinner {
	width:29% !important;
	border-radius: 3px;
	height: 35px;
	line-height: 28px;
	.ui-spinner-button {
		width: 26px !important;
		border-left:solid 1px #ccc;
		background: #f4f4f4;
		.ui-icon {
			left: 5px !important;
		}
	}
}
.ui-spinner-input {
	font-size: 12px !important;
}


.ui-spinner-button.ui-spinner-up {
	border-bottom:solid 1px #ccc !important;
}
.ui-spinner-button.ui-spinner-down {
	border-top:solid 1px #ccc !important;
}