table {
	tr {
		&.tcontent{
			&:hover {
				background: #f5f8fd;

			}
		}
	}
}


 .table {
 	thead {
 		tr {
 			background:#acacac;
 			th {
 				padding:7px 10px 5px 10px;
 				color:#fff;
 				font-size:10px;
 				font-weight:$medium !important;
 				border-bottom:0;
 			}
 		}
 	}
 	tbody {
 		tr {
 			td,th {
 				font-size:12px;
 				border-top:0 !important;
 			}
 			td {
 				&:first-child {
 					font-weight:$medium !important;
 				}
 				p.assignee {
 					font-weight:$regular !important;
 				}
 			}
 		}
 	}
 	tfoot {
 		tr{
 			background:#acacac;
	 		td {
	 			padding:4px !important;
	 		}
 		}
 	}
 	&.table-new {
 		thead {
 			tr {
 				th {
					padding-top: 10px;
					padding-bottom: 10px;
					border-top:solid 1px $border-g !important;
					border-bottom:solid 1px $border-g !important;
					font-size: 12px;
					font-weight: 400 !important;

 					&:first-child {
 					 	padding-left: 20px;
 					}
  					&:last-child {
 					 	padding-right: 20px;
 					}
 				}
 			}
 		}
 		tbody {
 			tr {
 				td {
					padding-top: 10px;
					padding-bottom: 10px;
					padding-left: 10px;

 					&:first-child {
 					 	padding-left: 20px !important;
 					}
  					&:last-child {
 					 	padding-right: 20px !important;

 					}
 				}
 				border-bottom:solid 1px $border-lg !important;
 				&:last-child {
 					border-bottom:0 !important;
 				}
 			} 		
 		}
 	}
 }






.table.table-admin {
	background:#fff;
	thead {
		background:#acacac;
		tr {

			th, span {
				color:#fff;
				font-size:13px;
			}
			th {
				&:first-child {
					padding-left:20px;
				}
				&:last-child {
					padding-right:20px;
				}				
			}
		}
	}
	tbody {
		tr {
			td {
				vertical-align: middle;
				text-align:center;
				
				&:first-child {
					padding-left:30px;
					text-align:center;
				}
			}
			th {
				vertical-align: middle;
				text-align:center;
				&:first-child {
					padding-left:30px;
					text-align:center;
				}
			}
		}
	}
	.btn-primary {
		background:$green !important;
		border:solid 1px $green !important;
		font-size:12px;
		font-weight:500;
		width:90px !important;
	}
	.btn-danger {
		background:$red !important;
		border:solid 1px $red !important;
		font-size:12px;
		font-weight:500;
		width:90px !important;
	}
	.btn-warning {
		background:none !important;
		border:none !important;
		color:$orange !important;
		font-size:12px;
		font-weight:500;
	}
}
.table.table-admin th, .table td { 
     border-top: solid 1px #ccc !important; 
 }


 //table div

 div.table-panel {
 	.table-header {
 		padding:0;
		font-size: 12px;
		font-weight: 400;
		background:#acacac;
		.table-tr {
			padding: 6px 0px;
		}
 		.table-th {

 			color:white !important;
 		}
 	}
 	.table-body {
 		padding: 0;
 		.table-tr {
 			border-bottom:solid 1px #EAEAEA;
			vertical-align: middle;
			line-height: 23px;
			padding: 3px 0px;
	 		.table-td {
				font-size: 13px;
				font-weight: 400;

	 			label {
	 				margin-bottom:0;
	 			}
	 		}
	 		&:last-child {
	 			border-bottom:none !important;
	 		}
	 		&:first-child {
	 			border-bottom:solid 1px #EAEAEA !important;
	 		}
 		}
 	}
 	.tabke-footer {

 	}
 }