/*
	Mitsukoshi Work Flow Management System
	V.1.0
*/

@import "bootstrap";
@import "global";
@import "jqueryui";

@import "table";

@font-face {
    font-family: Fira Sans;
    src: url("../fonts/FiraSans-Regular.otf");
}

body{
    background-color: #f5f5f5;
    font-family: 'Fira Sans', sans-serif;
    color:#444;
    overflow-x:hidden;
}

//fixed searchbox

input[type="text"].search-box {
    font-family: 'Fira Sans', sans-serif !important;
    font-size:14px !important;
    color:#454444;
    &::-webkit-input-placeholder {
        font-family: 'Fira Sans', sans-serif !important;
        color: #454444;
        font-weight:300;
        font-size:14px;
    }
    &:-moz-placeholder { 
        font-family: 'Fira Sans', sans-serif !important;
        color: #454444;
        font-weight:300;
        font-size:14px; 
    }
    &::-moz-placeholder {
        font-family: 'Fira Sans', sans-serif !important;
        color: #454444;
        font-weight:300;  
        font-size:14px;
    }
    &:-ms-input-placeholder {
        font-family: 'Fira Sans', sans-serif !important;  
        color: #454444;
        font-weight:300;
        font-size:14px; 
    }   
}

label {
    font-weight:500;
}
//file button style
.bootstrap-filestyle.input-group {
    display:inline !important;
}

.container-fluid {
    padding-right:10px !important;
}
//type
.text-label {
    font-weight:200;
    font-size:14px;
}
.text-content {
    font-weight:500;
    font-size:14px;
}

//modal
.modal-open .modal {
  padding-left: 0px !important;
  padding-right: 0px !important;
  overflow-y: scroll;
}

.modal {

    .modal-header {
        background:$orange;
        border-top-right-radius:4px;
        border-top-left-radius:4px;
        h4 {
            color:#fff;
            font-weight:400;
            font-size:14px;
        }
        button {
            color:orange;
            background:#fff;
            font-size: 16px;
            height: 17px;
            width: 17px;
            border-radius: 17px;
            &.close {
                opacity:1;
            }
        }
    }
    .modal-body {
        padding:0 15px;
        .row {
            .modal-content-content-3 {
                padding:0;
                text-align:center;
                .thumbnail {
                    margin-bottom:0;
                    border-radius: 0;
                    height:200px;
                    border:0;
                    border-right:solid 1px #979797;
                    text-decoration:none;
                    &:hover {
                        background:#ebebeb;
                    }
                    p {
                        color:#444444;
                        font-size:14px;
                        font-weight:400;
                        margin-top:20px;
                    }
                    img {
                        height:40px;
                    }
                    span {
                        position: absolute;
                        left:0;
                        right:0;
                        top: 38%;
                        -ms-transform: translateY(-31%);
                        -webkit-transform: translateY(-20%);
                        -moz-transform: translateY(-31%);
                        -o-transform: translateY(-31%);
                        transform: translateY(-31%);
                    }
                }
            }
        }

    }
    &.modal-confirmation {
        .modal-sm {
            width:450px;
            .modal-header-circle {
                background: #f36527;
                border-radius: 100%;
                height: 100px;
                width: 100px;
                position: absolute;
                margin: auto;
                left: 0;
                right: 0;
                top: -50px;
                h2 {
                    line-height: 85px;
                    color:white;
                    i {
                        font-size:1.8em;
                    }
                }
                &.delete {
                    background:$red !important;
                }
            }
            .confirm-body.modal-body {
                .row {
                    padding-bottom: 40px;
                    h3 {
                        margin-top: 90px;
                        margin-bottom:5px;
                        font-weight: 400;
                        color: #454444;
                    }
                    p {
                        padding: 5px 49px;
                        margin-bottom: 30px;
                    }
                    a {
                        padding-left: 5px;
                        padding-right: 5px;
                        text-align:center;
                    }
                }
            }
        }
    }
}

//layouts
.fixed-sidebar-ii {
    width:220px;
    position:fixed;
    height: 100%;
    margin-top: 99px;
    z-index:1;
}
.main-content-wrapper {
    margin-top:50px;
    padding:0 !important;
}
.main-content-wrapper .main-content {
    margin-top:13px;
}
.blocks {
    margin-bottom:0;
    border:solid 1px #cbcbcb;
    border-top:solid 1px #e2e2e2 !important;
    border-bottom:0 !important;
    border-radius:0;
    
    .panel-body {
        padding:15px 30px;
    }
    .blocks-heading {
        background:#fff;
        border-bottom:0 !important;
        padding:15px 30px 0px 30px;
    }
}

//accordin panel
.panel-group {
    .panel-default.panel-accordion {
        border-radius:0 !important;
        margin-top:0 !important;
        margin-bottom:0 !important;
        border:solid 1px #cbcbcb;
        border-top:0 !important;
        border-bottom:0 !important;
        .panel-heading {
            background:#f4f4f4;
            border-radius:0;
            border-top:solid 1px #d1d1d1;
            padding: 10px 30px;
            .panel-title {
                a {
                    font-weight:500;
                    font-size:14px;
                    color:#444;
                }
                span {
                    small {
                        color:#000;
                        font-size:10px;
                    }
                    i {
                        color:$red;
                        margin-left:5px;
                        position:relative;
                        top:1px;
                    }
                }
            }
        }
        .panel-body {
            border-top:solid 1px #d1d1d1;
            padding:15px 30px !important;
            .request-title {
                margin-bottom:0;
                font-weight:400;
                color:#000;
            }
        }
    }
    .panel-default.panel-accordion:last-child {
        border-bottom:solid #cbcbcb 1px !important;
    }    
}

//login
.login-panel {
    float:none;
    margin:auto;
    left:0;
    right:0;
    top:130px;
    width:370px;
    h5 {
        font-size:18px;
        font-weight:500;
        color:#454444;
    }
    .login-panel-inner {
        margin-top:15px;
        background:white;
        border:1px solid #C3C3C3;
        border-radius:5px;
        padding:50px 50px 30px 50px;
        -webkit-box-shadow: 0px 2px 2px 0px rgba(216,216,216,1);
           -moz-box-shadow: 0px 2px 2px 0px rgba(216,216,216,1);
                box-shadow: 0px 2px 2px 0px rgba(216,216,216,1);
        div.form-group {
            margin-bottom:0;
        }
        //error
        span.icon_check_alt, span.icon_close_alt {
            right:8px;
            top:11px;
            vertical-align:46px;
            font-size:1.3em;
        }

        span.icon_check_alt {
            color:$green;
        } 
        span.icon_close_alt {
            color:$red;
        }
        .form-control {
            height:40px;
            border: 1px solid #d8d8d8;
            outline:none;
            border-radius:3px;
            -webkit-box-shadow: none !important;
            -moz-box-shadow: none !important;
            box-shadow: none !important; 
            &.form-control:active {
                border: 1px solid $orange;
                -webkit-box-shadow: none !important;
                -moz-box-shadow: none !important;
                box-shadow: none !important;                
            }
            &.form-control:focus {
                border: 1px solid $orange;
                -webkit-box-shadow: none !important;
                -moz-box-shadow: none !important;
                box-shadow: none !important;  
            }
        }
        .validated {
            .validated-form.form-control {
                outline: none;
                border: 2px solid $orange;
                -webkit-box-shadow: none !important;
                -moz-box-shadow: none !important;
                box-shadow: none !important;            
            }
        }
        .error-message {
            padding:10px 0 5px 10px;
            label {
                color:$red;
                font-size: 0.8em;
            }
        }
        button.btn {
            height:45px;
            border-radius: 3px;
            font-family: 500;
            font-size: 14px;
            color: #FFFFFF;
            &:hover {

            }
        }
    }    
}




//select bootstrap

div.bootstrap-select {
    width:100% !important;

}
.btn-primary-select {
    background:none !important;
}





/*!
 * Start Bootstrap - Simple Sidebar HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */


//Toggle Styles

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    &.toggled {
        padding-left: 200px;

        #sidebar-wrapper {
            width: 200px;
        }
        #page-content-wrapper {
            position: absolute;
            margin-right: -250px;
        }                   
    }
}


#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 0;
}


#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 200px;
    width: 0;
    height: 100%;
    margin-left: -200px;
    overflow-y: auto;
    overflow-x:hidden;
    background: #444444;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;

    .sidebar-footer {
        position:absolute;
        bottom:20px;
        width:100%;

        .footer-content {
            padding:5px 0;
            border-bottom:1px solid #A2A1A1;
            border-top:1px solid #A2A1A1;
            h5.name:first-letter {
                text-transform: uppercase;
            }
            p {
                
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                margin: 0;
            }
            time {
                color:#aeaeae;
                font-size:12px;
                font-weight:400;
                display:block;
            }
        }
        .footer-content:last-child {
            border-top:none !important;
        }
    }    
}





//Sidebar
.sidebar-nav {
    position: absolute;
    top: 0;
    width: 200px;
    margin: 0;
    padding: 0; 

    .sidebar-brand {
        height:55px;
        background:#fff;
        border-bottom:solid 2px #444444;
        border-right:solid 1px #ccc;
        padding-right:3px;
        a.logo,
        a.menu-toggle {
            height:55px;
            display:inline;
            vertical-align:middle;         
        }
        a.logo {
            line-height:50px;
            img {
                height:45px;
            }
        }
        a.menu-toggle {
            line-height:55px;
            float:right;
            color:#25282B;
            cursor:pointer;
            i.fa-caret-left {
                color:$red;
            }        
        }   
    }
    .sidebar-content {
        padding:0;
        ul.list-group {
            background:#444444;
            li {
                &:first-child {

                    padding:30px 15px 10px 15px; 
                    span {
                        color: #AAA;
                        font-size:10px;
                        font-weight:$medium;

                    }
                }
                &:last-child a.active span.label {
                    color:#444;
                    margin-top: 2px;
                }
                a.list-group-item{
                    color:#ebebeb;
                    text-decoration:none;
                    border:0;
                    border-bottom:solid 1px #4E4E4E !important;
                    border-radius:0;
                    background:#444;
                    font-size:12px;
                    font-weight:$regular;
                    img {
                        margin-right:10px;
                    }
                    &.active{
                        background:#EBEBEB;
                        color:#454444;
                        font-weight:$regular;
                        svg path {
                            fill: #444;
                        }
                        &:hover {
                            background:#EBEBEB !important; 
                        }
                    }
                    &:hover {
                        background:lighten(#444,5%);
                        transition: background all 0.3s ease;
                        -webkit-transition: background 0.3s ease;
                        -moz-transition:background 0.3s ease;
                    }
                    span:first-child {
                        margin-right:8px;
                        position:relative;
                        top:2px;

                    }
                    &.overall.active span + span {
                        color: #454444;
                    }
                }
                .label {
                    width: 25px !important;
                    border-radius:1px !important;
                    font-size:10px;
                    font-weight:$regular;
                    color:#ebebeb;
                    padding-top: 1px;
                    padding-bottom: 1px;
                    &.label-danger {
                        background:#ED1C24 !important;
                        border: 1px solid #EB0E17;
                    }
                    &.label-primary {
                        background: #4084E4 !important;
                        border: 1px solid #347CE3;
                    }

                }
            }
        }
       .seach-form {
            padding:30 15px;
                input[type="text"]{
                    background:none;
                    border-top-left-radius:18px;
                    border-bottom-left-radius:18px;
                    border-right:none;
                    box-shadow:none;
                    &:focus, :active, :hover {
                        border:solid 1px #ccc;
                        border-right:0 !important;
                    }
                }
            button {
                background:none;
                border-top-right-radius:15px;
                border-bottom-right-radius:15px;
                border-left:0;
                i {
                    color:gray !important;
                }           
            }
            .create-workflow-btn {
                background:#429321;
                margin-top: -20px;
                padding: 10px 15px 10px 15px;
                border:1px solid #369211;
                font-family: 'Fira Sans';
                font-weight: $medium;
                font-size: 12px;
                color:#ffffff;
                font-weight:500;
            }
        }
           
    }    
}




@media(min-width:768px) {
    #wrapper {
        padding-left: 200px;
        &.toggled {
            padding-left: 0;
        }
    }

    #sidebar-wrapper {
        width: 200px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 0;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

/* Nav header*/
nav.nav-action-links {
    position:fixed;
    display:block;
    width:100%;
    background:#F5F5F5;
    border-bottom:solid 2px #D8D8D8;
    height:55px;
    z-index:9 !important;

    .nav.nav-pills {
        padding-left:0px;
        margin-top:14px;

        li {
            &.pills a {
                background:#454444;
                border: 1px solid #3F3F3F;
                color:#fff;
                padding:9px 20px !important;
                font-weight: $regular;
                font-size:12px;
            }
            &.pills.active {
                margin-top:-6px;
                a {
                    background:#F16426;
                    padding: 12px 20px !important; 
                    border: 1px solid #EB5513 !important;
                    font-weight: $medium !important;
                    font-size: 14px !important;                 
                }
            }
            //arrow on active tab content
            &.active.pills a{
                &:before {
                    top: 100%;
                    left: 50%;
                    border: solid transparent;
                    content: " ";
                    height: 0;
                    width: 0;
                    position: absolute;
                    pointer-events: none;                
                }
                &:after {
                    border-color: rgba(243, 101, 39, 0);
                    border-top-color: #F36527;
                    border-width: 4px;
                    margin-left: -4px;                
                }
                &:before {
                    border-color: rgba(243, 101, 39, 0);
                    border-top-color: #F36527;
                    border-width: 7px;
                    margin-left: -7px;                
                }
            }
            //end arrow on active tab content
        }
        > li.pills > a {
            border-radius:0;
            border-top-left-radius:3px;
            border-top-right-radius:3px;
            padding:10px 20px !important;
        }
    }
}




/*Aside tab contents*/
.tab_contents {
    padding:0px !important;
    border-right:solid 1px #eaeaea;
    height:900px;
    background:$white;

    .aside.list-group {
        li {
            .list-group-item {
                border:solid 1px #eaeaea;
                border-top:0 !important;  
                padding: 6px 15px;
                border-right:0;
                background:#fbfbfb;

                p {
                    margin:0;
                    strong {
                        font-weight:$medium;
                        font-size:12px;
                        color:#494949;
                    }
                    &+p{
                        font-size:12px;
                        font-weight:$regular;
                    }
                }

                small {
                    margin-right:-5px;
                }

                &:last-child, :first-child  {
                    border-radius:0 !important;
                }

                &.active,
                &.active:hover,
                &.active:focus {
                    background:#444444;
                    border-left:solid 5px #ED1D1D !important;
                    border:0 !important;
                    border-radius:0 !important;
                    p strong {
                    color:#fff;
                    }                
                }
            }

        }
        li.overdue {
            border-left:solid 5px $red !important;
        }  
        li.in-progress {
            border-left:solid 5px $blue !important;
        }
    }
}

.tab_contents .aside .list-group-item.active:after, .list-group-item.active:before {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.tab_contents .aside .list-group-item.active:after {
    border-color: rgba(68, 68, 68, 0);
    border-left-color: #444444;
    border-width: 4px;
    margin-top: -4px;
}
.tab_contents .aside .list-group-item.active:before {
    border-color: rgba(68, 68, 68, 0);
    border-left-color: #444444;
    border-width: 7px;
    margin-top: -7px;
}




//admin
.admin-search-panel {

    padding:0;
    background:#fff;
    border-bottom:solid 1px #EAEAEA;
    position:fixed;
    z-index:1;
    button.btn {
        background:#fff;
    }
    input[type="text"] {
        background:#fff;
        border:none;
        border-radius:0 !important;
        padding:0;
        height:50px;
        font-size:14px;
        font-weight:400;
        &::-webkit-input-placeholder {
            color: #454444;
            font-weight:300;
            font-size:12px;
        }
        &:-moz-placeholder { 
            color: #454444;
            font-weight:300;
            font-size:12px; 
        }
        &::-moz-placeholder {
            color: #454444;
            font-weight:300;  
            font-size:12px;
        }
        &:-ms-input-placeholder {  
            color: #454444;
            font-weight:300;
            font-size:12px; 
        }
        &:hover {
            box-shadow:none;
        }
        &:active {
            box-shadow:none;
        }
        &:focus {
            box-shadow:none;
        }
    }
}
.panel-head {
    border-bottom:solid 1px #EAEAEA;
    padding-top: 15px;
    padding-bottom: 15px;

    label {
        margin-bottom: 0px;
        font-size: 15px;
        font-weight: 500;
        color:#444;
        span {
            color:$orange;
        }
    }
}
.panel-left {
    background:white;
    padding:0;
    .form-wizard {
            border-top:solid 1px #979797;
            border-bottom:solid 1px #979797;
            padding:0;
    }
    .form-wizard:first-child {
            border-top:none;
    }
    .media {
        .media-left {
                padding-right:0;
        }
        input, select {
            width:300px;
            border-radius:3px;
        }
        input:disabled {
            background:white;
            border:none;
            cursor:text !important;
            padding: 0px;
            box-shadow: none;
            height: 15px;
        }

        select:disabled {
            background:white;
            border:none;
            box-shadow:none;
            padding-left:0;
            cursor:text !important;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            text-overflow: '';
        }
        .form-group {
            margin-bottom:0;
            padding-top: 10px;
            padding-bottom: 10px;
        }
        label {
            font-weight:300;
            font-size:14px;

        }
    }
    .panel-content.active {
        background:#dce7f9;
        transition:all 0.4s ease;
    }
}

.panel-admin.panel {
    border:0;
    border-radius:0;
    background:none;
    box-shadow:none;
    .panel-heading {
        border-bottom:solid 2px #979797;
        padding: 20px 0 10px 0;
        color:#444444;
        font-weight:500;
        h4 {
            color:#444444;
            font-weight:500;
            font-size:16px;
        }
    }
    .panel-body {
        padding:10px 0 40px 0;
        .chkbx {
            padding:0;
            .checkbox {
                margin-top:4px;
                margin-bottom:4px;
                label {
                    font-weight:300;
                    font-size:13px;
                }
            }
        }
    }
    .panel-footer {
    border-top:0;
        padding:5px 0;
        h4 {
            color:#444444;
            font-weight:500;
            font-size:16px; 
            border-bottom: solid 1px #979797;
            padding-bottom: 10px;       
        }
    }
    table {
        th {
            padding-right:30px;
            font-weight:400;
            font-size:13px;
            padding-top: 2px;
            padding-bottom: 2px;
            color:#444;
        }
        td {
            font-weight:400;
            font-size:13px;  
            color:#444;          
        }
    }
}

.panel-default {
    &.panel-workflow {
        border-radius:0px !important;
        border-bottom: 0;
        box-shadow: none;
        margin-top:0 !important;
        border-left:0 !important;
        border-right:0 !important;
        .panel-heading {
            padding:10px 30px !important;
            h4 {
                font-size:14px;
                font-weight:$medium;
                color:#444;
            }
        }
        .panel-body {
            padding:0 !important;
            .form-group {
                padding:0 !important;
            }
            p.button-wizard {
                padding:0 !important;
                margin-bottom: 0 !important;
            }
            .wizard-content {
                padding: 10px 30px;
                width: 100% !important;
                .form-group {
                    margin:0 !important;
                    padding-bottom:10px !important;
                }
            }
            .form-group.added-form {
                border-bottom:solid 1px $light-gray !important;
                &:last-child {
                    border-bottom:0 !important;
                }
            }
            table.wizard-add {
                width:100%;
                thead {
                    tr {
                        background:#dce7f9;
                        border-top:solid 1px #4085e4;
                        border-bottom:solid 1px #4085e4; 
                    
                        td {
                            padding-top:30px !important;
                            padding-bottom:30px !important;
                            &:first-child {
                                padding-left:30px !important;
                            }
                            &:last-child {
                                padding-right: 30px !important;
                                text-align: right;
                            }
                            span {
                                &.ui-spinner {
                                    width:49% !important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
.panel-default.panel-ls {
    .panel-heading {
            padding: 5px 15px;
        h5 {
            color:#444;
            font-weight:500;
            span {
                color:$orange;
            }
        }
    }
    .panel-media {
        padding:0;
        label, h5 {
            margin:0;
            font-size:14px;
        }
        label {
            color:grey;
            font-weight:400;
        }
        h5 {
            color:#444;
            font-weight:500;
        }
        hr {
            border-color: #c6c6c6;
            margin-top:10px;
            margin-bottom:0;
        }
        .panel-media-inner {
            padding-right:0;
            padding-top:10px;
            div {
                border-bottom: 1px solid #c6c6c6;
                margin-top: 3px;
                padding-top: 5px;
                padding-bottom: 5px;
                position:relative;
                h5{
                    margin-bottom:4px;
                }
                &:last-child {
                    border:0;
                }
            }
        }
    }
}

.step-circle-lists {
  list-style: none;
  margin-top:90px;
  margin-left:-22px; 
  li {
      background: white;
      border:solid 1px #9A9A9A;
      color:#9A9A9A;
      width:25px;
      height:25px;
      border-radius:100%;
      margin-bottom:14px;
      position: relative;
      text-align: center;
      padding-top: 3px;
      font-size:12px;
      span {
          margin-left:15px;
          position: absolute;
          font-size:12px;
          font-weight:$regular;
          width:120px;
          padding:0;
          text-align: left;
      }
      &::before {
          content: '';
          position: absolute;
          height:15px;
          width:1px;
          background:gray;
          top:-15px;
          left:11px;      
      }
      &.active {
          border:solid 1px #F16426;
          color:#F16426;

          &::before {
              content: '';
              position: absolute;
              height:15px;
              width:1px;
              background:$orange;
              top:-15px;
              left:11px;          
          }      
      }
      &:first-child::before {
          content: '';
          height:0px;
          width:0px;      
      } 
  }
}



//media queries
@media screen and (max-width: 500px) {
    nav.nav-action-links {
        .nav.nav-pills {
            margin-top:29px;
            li {
                &.pills a {
                    padding:3px 6px !important;
                }
                &.pills.active {
                    margin-top:0px;
                    a {
                        padding: 3px 8px !important;                 
                    }
                }
            }
            > li.pills > a {
                padding:3px 6px !important;
            }
        }
    }
}



