/*color variables*/

$red          :       #E71E28;
$orange       :       #F36527;
$gray         :       #444444;

$light-gray   :       #F1F1F1;
$blue         :       #4682E4;
$green        :       #439322;

$white		  :		  #ffffff;


$border-g     :       #CCCCCC;
$border-lg    :       #E6E6E6;

$txt-gray     :       #3F3F3F;
$txt-lgray    :       #424242;   

@media print {
    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    // Don't show links that are fragment identifiers,
    // or use the `javascript:` pseudo protocol
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; // h5bp.com/t
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }

    // Bootstrap specific changes start

    // Bootstrap components
    .navbar {
        display: none;
    }
    .btn,
    .dropup > .btn {
        > .caret {
            border-top-color: #000 !important;
        }
    }
    .label {
        border: 1px solid #000;
    }

    .table {
        border-collapse: collapse !important;

        td,
        th {
            background-color: #fff !important;
        }
    }
    .table-bordered {
        th,
        td {
            border: 1px solid #ddd !important;
        }
    }


.btn-success {
  background:$green;
  border-color:$green; 
  -webkit-print-color-adjust: exact; 
}
.btn-danger {
  background:$red;
  border-color:$red;
  -webkit-print-color-adjust: exact;  
}

/*progress-bar */
.progress-bar-warning {
  background: $orange;
  -webkit-print-color-adjust: exact;
}
.progress {
  border:solid 1px $orange;
  background:$white;
  -webkit-print-color-adjust: exact;
}

}
