<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Mitsukoshi/title</title>
    <link href="<?=BASE_URI?>css/app.css" rel="stylesheet">
    <link href="<?=BASE_URI?>css/font-icon.css" rel="stylesheet">
    <link href="<?=BASE_URI?>css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="<?=BASE_URI?>css/jquery-ui.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="<?=BASE_URI?>css/select2-bootstrap.css" rel="stylesheet" />
    <link href="<?=BASE_URI?>css/print.css" rel="stylesheet">
  </head>
  <body>

    <script type="text/javascript">var URL = "<?php echo BASE_URI; ?>";</script>
    <?php @$this->assets->outputJs('global_header_js'); ?>
    <?php $this->partial($page_content); ?>
    <?php @$this->partial('mustache_templates/table'); ?>
    <?php @$this->assets->outputJs('global_footer_js'); ?>

  </body>
</html>


