<table class="wizard-content">
    <div id="activityPrompt"></div>
    <tbody id="tblActivitiesContainer">
        <?php $activities = WorkflowActivity::getDetailsWorkflow($workflow_id); ?>
        <?php foreach ($activities as $activity): ?>
            <?php if($activity->activity_name != "Acknowledge Request"){  ?>
                <?php if($activity->group_id == ""){  ?>

                    <tr class="tcontent my_activities" designation="<?= $tos->designation ?>" email="<?= $activity->email ?>" fullname="<?= $activity->firs_name . ' ' . $activity->last_name ?>" approver_id = "<?= $activity->employee_id ?>" activity_name = "<?= $activity->activity_name ?>" tat="<?= $activity->tat ?>">
                        <td style="font-size: 13px;padding: 10px 0 5px 30px;vertical-align:text-top;"><?= $activity->activity_name ?></td>
                        <!--<td style="font-size: 13px;padding: 10px 0 5px 30px;vertical-align:text-top;"><?= $activity->designation ?> Approval</td>-->
                        <td style="font-size: 13px;padding: 10px 15px 0 0;text-align: right;vertical-align: text-top;">Assigned to</td>
                        <td style="font-size: 13px;padding:10px 0 0 5px;">
                            <strong><?= $activity->firs_name . ' ' . $activity->last_name ?></strong>
                            <p style="margin-bottom: 0;"><?= $activity->designation ?></p>
                            <!--<p></p>-->
                        </td>
                        <td style="font-size: 13px;padding-top:10px;vertical-align:text-top;"><p>TAT <span><?= $activity->tat ?> Day(s)</span></p></td>
                        <td style="padding-right: 30px;text-align: right;">
                            <div>
                                <!--<button class="btn btn-small btn-default">Edit</button>-->
                                <button class="btn btn-small btn-default btnDeleteFldApprover">Delete</button>
                            </div>
                        </td>
                    </tr>
                <?php }else{?>
                    <tr class="tcontent my_activities" designation="<?= $tos->designation ?>" email="TEAM" fullname="<?= $activity->groupname?>" approver_id = "<?= $activity->group_id ?>" activity_name = "<?= $activity->activity_name ?>" tat="<?= $activity->tat ?>">
                        <td style="font-size: 13px;padding: 10px 0 5px 30px;vertical-align:text-top;"><?= $activity->activity_name ?></td>
                        <!--<td style="font-size: 13px;padding: 10px 0 5px 30px;vertical-align:text-top;"><?= $activity->designation ?> Approval</td>-->
                        <td style="font-size: 13px;padding: 10px 15px 0 0;text-align: right;vertical-align: text-top;">Assigned to</td>
                        <td style="font-size: 13px;padding:10px 0 0 5px;">
                            <strong><?= $activity->firs_name . ' ' . $activity->groupname ?></strong>
                            <p style="margin-bottom: 0;"><?= $activity->groupname ?></p>
                            <!--<p></p>-->
                        </td>
                        <td style="font-size: 13px;padding-top:10px;vertical-align:text-top;"><p>TAT <span><?= $activity->tat ?> Day(s)</span></p></td>
                        <td style="padding-right: 30px;text-align: right;">
                            <div>
                                <!--<button class="btn btn-small btn-default">Edit</button>-->
                                <button class="btn btn-small btn-default btnDeleteFldApprover">Delete</button>
                            </div>
                        </td>
                    </tr>                    
                <?php }?>
            <?php }?>   
        <?php endforeach; ?>
    </tbody>
</table>

<table class="wizard-add">
    <thead id ="tblAddActivitesContainer">

    </thead>
</table>
