<table class="wizard-content">
	<tbody id="tblApproversContainer">
		<?php $approvers = WorkflowApprover::getDetails($workflow_id); ?>
		<?php foreach($approvers as $approver): ?>

		<tr class="tcontent my_approvers" designation="<?=$approver->designation?>" email="<?=$approver->email?>" fullname="<?=$approver->firs_name.' '.$approver->last_name?>" approver_id = "<?=$approver->employee_id?>" tat = "<?=$approver->tat?>">
		      <td style="padding: 10px 0 5px 30px;vertical-align:text-top;"><?=$approver->designation?> Approval</td>
		      <td style="padding: 10px 15px 0 0;text-align: right;vertical-align: text-top;">Assigned to</td>
		      <td style="padding:10px 0 0 5px;">
		        <strong><?=$approver->firs_name.' '.$approver->last_name?></strong>
		        <p style="margin-bottom: 0;"><?=$approver->designation?></p>
		        
		      </td>
		      <td style="padding-top:10px;vertical-align:text-top;"><p>TAT <span><?=$approver->tat?> Day(s)</span></p></td>
		      <td style="padding-right: 30px;text-align: right;">
		        <div>
		          <!--<button class="btn btn-small btn-default">Edit</button>-->
		          <button class="btn btn-small btn-default btnDeleteFldApprover">Delete</button>
		        </div>
		      </td>
		</tr>
		<?php endforeach; ?>
	</tbody>
</table>

<table class="wizard-add">
	<thead id="tblAddApproversContainer">
		
	</thead>
</table>
