<div id="frmFieldsContainer" class="col-lg-12" style="padding:0;">
<?php foreach($workflow_details->WorkflowTable as $table): ?>
	<?php foreach ($table->TableFields as $fields): ?>
		<?php if($fields->data_type_id == 1):  ?>	
		<?php $this->partial('workflowfields/text'); ?>
		<?php elseif($fields->data_type_id == 2):  ?>	
		<?php $this->partial('workflowfields/textarea'); ?>
		<?php elseif($fields->data_type_id == 3):  ?>	
		<?php $this->partial('workflowfields/dropdown'); ?>
		<?php elseif($fields->data_type_id == 4):  ?>	
		<?php $this->partial('workflowfields/date'); ?>
		<?php endif ?>
	<?php endforeach; ?>
<?php endforeach; ?>
</div> 


<table class="wizard-add">
	<thead id="tblFieldsContainer">

	</thead>
</table>




<!-- <table class="wizard-add">
	<thead id="">
		<tr style="border:0;">
			<th class="text-center" style="padding:10px;background:#F5F5F5;">
				<label>Label 1 <span class="text-danger">*</span></label>
				<select id="list-1" class="form-control" style="width:30%;display:inline;">
					<option id="ip">No List Yet</option>
				</select>
				<input id="addlist" type="text" class="form-control input-sm" placeholder="Type & Hit ENTER to save" style="display:inline;width:30%;margin:0 auto;border-radius:0">
			</th>			
		</tr>


	</thead>
</table> -->
