<input type="hidden" id="workflow_ids" value="<?=$workflow_id?>" name="workflow_id">

<div class="wizard-content col-lg-8">
        <button id="btnEditWorkflowDetails" class="pull-right btn btn-small btn-default hidden btn-edit-toggle" style="position: absolute; right: 30px; z-index: 1000;">Edit</button>
  <div class="col-lg-12 form-group">
    <label for="inputEmail3" class="col-sm-3 control-label">Workflow Name <span class="text-danger">*</span></label>
    <div class="col-sm-9"  id="workflow_name_div" style="display: inline-flex;">
        <input maxlength="150" id="workflow_name" type="text" class="form-control gene_required workflow-det" id="inputEmail3" value="<?=$workflow_details->name?>"/>      
    </div>
  </div>

  <div class="col-lg-12 form-group">
    <label for="inputEmail3" class="col-sm-3 control-label">Description</label>
    <div class="col-sm-9" style="display: inline-flex;">
      <textarea maxlength="150" id="workflow_description" class="form-control workflow-det"><?=$workflow_details->description?></textarea>
 
    </div>
  </div>

  <div class="col-lg-12 form-group">
    <label for="inputEmail3" class="col-sm-3 control-label">Department <span class="text-danger">*</span></label>
    <div class="ui-widget col-sm-9" style="display: inline-flex;" >
      <!-- <select id="category_id" name="category_id" class="form-control">
        <?php foreach($categories as $category): ?>
      	<option <?php if($workflow_details->category_id == $category->category_id) echo 'selected'; ?> value="<?=$category->category_id?>"><?=$category->name?></option>
        <?php endforeach; ?>
      </select> -->

      <select style="font-family:'Fira Sans', 'sans-serif';" id="department_id" name="department_id" class="form-control workflow-det">
        <?php foreach($departments as $department): ?>
        <option <?php if($workflow_details->department_id == $department->department_id) echo 'selected'; ?> value="<?=$department->department_id?>"><?=$department->name?></option>
        <?php endforeach; ?>
      </select>
    </div>
    
  </div>
</div>

