
<div id="publish_workflow" class="hidden">

  <div class="panel panel-default" style="border:0;margin:0;">
    <div class="panel-heading panel-head" style="padding:10px 30px;background:#fff;">
          <label>Publish Workflow for <span id="WORKFLOW_NAME"></span></label>
    </div>
    <div class="panel-heading" style="padding:10px 30px;">
      <h5 style="margin:0;">WORKFLOW DETAILS
      </h5>
    </div>
    <div class="panel-body" style="padding:10px 0 0 0;">
      <table class="table table-new">
        <tbody>
          <tr style="border-bottom:0 !important;">
            <td class="col-sm-3" style="padding: 0 0 0 30px ! important; font-size: 12px; font-weight: 400 ! important;">Request Department</td>
            <td id="WORKFLOW_CATEGORY" id="" class="col-sm-9" style="padding: 0px ! important; font-size: 12px; font-weight: 500 ! important;"></td>
          </tr>
          <tr>
            <td class="col-sm-3" style="padding: 0 0 10px 30px ! important; font-size: 12px; font-weight: 400 ! important;">Request Type</td>
            <td id="REQUEST_TYPE" class="col-sm-9" style="padding: 0 0 10px 0 ! important; font-size: 12px; font-weight: 500 ! important;"></td>
          </tr>
          <tr style="border-bottom:0;">
            <td class="col-sm-3" style="padding: 10px 0 0 30px ! important; font-size: 11px; font-weight: 400 ! important;">Description</td>
            <td id="WORKFLOW_DESCRIPTION" class="col-sm-9" style="padding: 10px 30px 0 0 ! important; font-size: 11px; font-weight: 500 ! important;"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="panel panel-default" style="border:0;margin:0;">
    <div class="panel-heading" style="padding:10px 30px;border-top:solid 1px #ddd;">
      <h5 style="margin:0;">REQUIRED FIELDS
      </h5>
    </div>
    <div id="WORKFLOW_FIELDS" class="panel-body" style="padding:10px 30px;">
      
    </div>
  </div>

  <div class="panel panel-default" style="border:0;margin:0;">
    <div class="panel-heading" style="padding:10px 30px;border-top:solid 1px #ddd;">
      <h5 style="margin:0;">TASK FLOW
      </h5>
    </div>
    <div class="panel-body" style="padding:0;">
      <table class="table table-striped" style="margin-bottom:0;">
        <thead>
          <tr>
            <th style="padding-left:30px !important;">Task</th>
            <th>Assigned To</th>
            <th>Turn Around Time</th>
            <th>Task Type</th>
          </tr>
        </thead>

        <tbody id="taskContainer">


      

  

        </tbody>

        <tfoot>
          <tr>
            <td colspan="4"></td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>

  <div class="pre col-md-12">
    <div class="col-md-12" style="padding:0;">
          <div class="form-group">
            <div class="chkbx col-sm-12" style="padding:0;">
              <div class="checkbox">
              <label>
                  <?php $priority="";if($workflow_details->priority == 1){$priority="checked";}?>
              <input id="priority" class="chckPermission" name="priority" type="checkbox" <?=$priority?>> This request is allowed to be tagged as <strong>High Priority.</strong>
              </label>
              </div>
            </div>
            <div class="chkbx col-sm-12" style="padding:0;">
              <div class="checkbox">
              <label>
                  <?php $accessibility="";if($workflow_details->department_access != NULL || $workflow_details->department_access != ""  ){$accessibility="checked";}?>
              <input id="accessibility" ischecked ="<?=$accessibility?>" class="chckPermission" name="request" type="checkbox" <?=$accessibility?>> Limited Accessibility
              </label>
              </div>
              <div id="pnlAdminPermission" class="col-lg-12">
                <?php $ref_department = RefDepartment::find(); 
                $access_array_id = explode(",",$workflow_details->department_access);
                
                ?>	
              
                 <?php foreach ($ref_department as $value): ?>  
                  <?php 
                  $dep_checked = "";
                  if(in_array($value->department_id, $access_array_id))
                  {
                      $dep_checked="checked";
                  }
                  else
                  {
                      $dep_checked="";
                  }
                  ?>
                    <div class="chkbx col-sm-12" style="padding:0;height: 20px;">
                      <div class="checkbox">
                      <label>
                          
                        <input  class="chckPermission department" name="<?=$key?>" value="<?=$value->department_id?>" type="checkbox" <?=$dep_checked?> > <?=$value->name?>
                      </label>
                      </div>
                    </div>
                  <?php endforeach; ?>
                    <div class="chkbx col-sm-12" style="padding:0;height: 20px;">
                      <div class="checkbox">
                      <label>
                          
                        
                      </label>
                      </div>
                    </div>                 
                </div>                
            </div>
            <div class="chkbx col-sm-12" style="padding:0;">
              <div class="checkbox">
              <label>
              <input id="advisory" class="chckPermission" name="admin" type="checkbox"> Send Advisory
              </label>
              </div>

           
            </div>
          </div>
    </div>
  </div>

  <div class="text-center col-md-12" style="margin-top: 30px;padding-bottom:30px">
    <button id="editWorkflow" class="btn btnf-f btn-default">EDIT</button>
    <button id="publishWorkflow" class="btn btnf-f btn-success">PUBLISH</button>
  </div>
</div>

<?php $this->partial('common/discard_modal'); ?>

<style>
    td h5, label.span-stat{font-size: 12px;}
    #taskContainer tr td:nth-child(2) h5 {margin-top: 0px;}
    .table thead tr th {font-size: 10px;}
</style>

