<script type="text/template" id="tplAddList">
<select id="add-list" class="add-list form-control" style="width:75%;margin:0 auto;"  multiple="multiple">

</select>
</script>
<script type="text/template" id="pblshApprover">
<tr>
  <td style="padding-left:30px !important;">{{designation}} Approval</td>
  <td>
    <h5 style="margin-bottom: 0px;">{{fullname}}</h5>
    <p style="margin-bottom: 0px;"></p>
    <p>{{email}}</p>
  </td>
  <td>{{tat}} day(s)</td>
  <td>
    <label class="span-stat approved">Approval</label>
  </td>
</tr>
</script>
<script type="text/template" id="pblshActivity">
<tr>
  <td style="padding-left:30px !important;">{{activity_name}}</td>
  <td>
    <h5 style="margin-bottom: 0px;">{{fullname}}</h5>
    <p style="margin-bottom: 0px;">{{designation}}</p>
    <p>{{email}}</p>
  </td>
  <td>{{tat}} day(s)</td>
  <td>
    <label class="span-stat activity">Activity</label>
  </td>
</tr>
</script>
<script type="text/template" id="pblshText">
  <div class="form-group col-sm-12" style="padding:0;">
        <label for="" class="col-sm-2 control-label" style="font-size: 13px; font-weight: 400 ! important;padding:0;">{{label}} <span class="text-danger">{{#is_required}}*{{/is_required}}</span></label>
        <div class="col-sm-8" style="padding:0;">
          <input type="text" class="form-control" id="" placeholder="">
        </div>
  </div>
</script>
<script type="text/template" id="pblshTextArea">
  <div class="form-group col-sm-12" style="padding:0;">
        <label for="" class="col-sm-2 control-label" style="font-size: 13px; font-weight: 400 ! important;padding:0;">{{label}} <span class="text-danger">{{#is_required}}*{{/is_required}}</span></label>
        <div class="col-sm-8" style="padding:0;">
          <textarea class="form-control" id="" placeholder=""></textarea>
        </div>
  </div>
</script>
<script type="text/template" id="pblshDropDown">
  <div class="form-group col-sm-12" style="padding:0;">
        <label for="" class="col-sm-2 control-label" style="font-size: 13px; font-weight: 400 ! important;padding:0;">{{label}} <span class="text-danger">{{#is_required}}*{{/is_required}}</span></label>
        <div class="col-sm-8" style="padding:0;">
          <select class="form-control" id="" placeholder="">
          {{{options_html}}}
          </select>
        </div>
  </div>
</script>
<script type="text/template" id="pblshDate">
  <div class="form-group col-sm-12" style="padding:0;">
        <label for="" class="col-sm-2 control-label" style="font-size: 13px; font-weight: 400 ! important;padding:0;">{{label}} <span class="text-danger">{{#is_required}}*{{/is_required}}</span></label>
        <div class="col-sm-8" style="padding:0;">
          <input type="date" class="form-control" id="" placeholder="">
        </div>
  </div>
</script>
<script type="text/template" id="tplTable">
	<fieldset class="tableFields">
      <div class="col-lg-7" style="padding-top: 10px;padding-bottom: 10px;padding-left: 0;">
      		{{{fields}}}
      </div>
    </fieldset>
</script>
<script type="text/template" id="tplText">
     <div class="form-group col-md-12" style="padding-left:0 !important;">
        <label for="" class="col-sm-3 control-label left-label">{{label}}<span class="text-danger">{{#is_required}}*{{/is_required}}
        </span></label>
        <div class="col-sm-9" style="padding:0;">
          <input maxlength="50" type="text" name="{{label}}" field-id="{{field_id}}"   class="form-control {{#is_required}}gene_required{{/is_required}}"  placeholder="{{label}}">
     	 </div>
    </div>
</script>

<script type="text/template" id="tplTextArea">
     <div class="form-group col-md-12" style="padding-left:0;">
        <label for="" class="col-sm-3 control-label left-label">{{label}}<span class="text-danger">{{#is_required}}*{{/is_required}}
        </span></label>
        <div class="col-sm-9" style="padding:0;">
          <textarea maxlength="100" name="{{label}}" field-id={{field_id}} class="form-control {{#is_required}}gene_required{{/is_required}}"  placeholder="{{label}}"></textarea>
       </div>
    </div>
</script>
<script type="text/template" id="tplDate">
     <div class="form-group col-md-12" style="padding-left:0;">
        <label for="" class="col-sm-3 control-label left-label">{{label}}<span class="text-danger">*</span></label>
        <div class="col-sm-9" style="padding:0;">
          <input name="{{label}}" field-id={{field_id}} type="date" class="form-control {{#is_required}}gene_required{{/is_required}}"  placeholder="mm/dd/yy">
      </div>
    </div>
</script>
<script type="text/template" id="tplDropdown">
  <div class="form-group col-md-12" style="padding-left:0;">
       <label for="" class="col-sm-3 control-label left-label">{{label}}<span class="text-danger">*</span></label>
       <div class="col-sm-9" style="padding:0;">
        <select name="{{label}}" field-id={{field_id}} class="form-control {{#is_required}}gene_required{{/is_required}}">
          <option></option>
          {{{items}}}
        </select>
      </div>
  </div>
</script>

<script type="text/template" id="tplFields">
<tr>
  <td class="col-md-4">
    <p style="font-size:13px;">
      <strong style="font-weight: 500;"> Field Label</strong>
    </p>
    <input maxlength="18" id="lblField" class="form-control gene_required" type="text" placeholder="Input Field Label">
  </td>
  <td class="col-md-4">
    <p style="font-size:13px;">
      <strong style="font-weight: 500;padding-right: 10px;"> Field Format</strong>
    </p>
    <select id="dropDataType" name="data_type_id" class="form-control gene_required fields_list">
    <?php foreach ($dataTypes as $type): ?>
      <option value="<?=$type->data_type_id?>"><?=$type->name?></option>
    <?php endforeach; ?>
    </select>
    <div id="dropdownlist" class="dropdownlist"></div>
  </td>
  <td class="text-center col-md-1">
    <p><strong  style="font-weight: 500;">Required</strong></p>
    <input id="chckRequired" type="checkbox" class="form-control">
    
  </td>
  <td class="text-center col-md-3">
    <button class="btn btn-default btnSaveField">Save</button>
    <button class="btn btn-default btnDeleteField">Delete</button>
  </td>
</tr>
</script>

<script type="text/template" id="fldText">
  <div class="col-lg-12 added-form form-group">
    <div class="wizard-content">
      <div class="col-sm-8" style="padding:0 0 10px 0;">
        <label for="dataType" id="lbl" class="col-sm-3 control-label" style="padding-left:0;font-size: 13px;font-weight:400;">{{label}}<span class="text-danger">{{#is_required}}*{{/is_required}}</span></label>
        <div class="col-sm-9"  >
          <input maxlength="45" id="dataType" label="{{label}}" data-type-id="{{data_type_id}}"  is-required="{{required}}"  type="text" class="form-control my_fields">
        </div>
      </div>
    <div class="col-sm-4" style="padding-right:0;">
      <button class="pull-right btn btn-small  btn-default btnDeleteFields" style="margin-left: 5px;">Delete</button>
      <!--<button class="pull-right btn btn-small  btn-default btnEditFields">Edit</button>-->
    </div>
    </div>
  </div>
</script>

<script type="text/template" id="fldDate">
  <div class="col-lg-12 added-form form-group">
    <div class="wizard-content">
      <div class="col-sm-8" style="padding:0 0 10px 0;">
        <label for="dataType" id="lbl" class="col-sm-3 control-label" style="padding-left:0;font-size: 13px;font-weight:400;">{{label}}<span class="text-danger">{{#is_required}}*{{/is_required}}</span></label>
        <div class="col-sm-9"  >

          <input type="text" id="dataType" label="{{label}}" data-type-id="{{data_type_id}}"  is-required={{required}} class="form-control datepicker my_fields" placeholder="mm/dd/yy" style="width: 60%;display: inline;border-top-right-radius: 0;border-bottom-right-radius: 0;">
        </div>
      </div>
    <div class="col-sm-4" style="padding-right:0;">
      <button class="pull-right btn btn-small  btn-default btnDeleteFields" style="margin-left: 5px;">Delete</button>
      <!--<button class="pull-right btn btn-small  btn-default">Edit</button>-->
    </div>
    </div>
  </div>
</script>

<script type="text/template" id="fldTextArea">
  <div class="col-lg-12 added-form form-group">
    <div class="wizard-content">
      <div class="col-sm-8" style="padding:0 0 10px 0;">
        <label for="dataType" id="lbl" class="col-sm-3 control-label"  style="padding-left:0;font-size: 13px;font-weight:400;">{{label}}<span class="text-danger">{{#is_required}}*{{/is_required}}</span></label>
        <div class="col-sm-9">
          <textarea maxlength="300" id="dataType" label="{{label}}" data-type-id="{{data_type_id}}"  is-required={{required}} class="form-control my_fields"></textarea>
        </div>
      </div>
    <div class="col-sm-4" style="padding-right:0;">
      <button class="pull-right btn btn-small btn-default btnDeleteFields" style="margin-left: 5px;">Delete</button>
      <!--<button class="pull-right btn btn-small btn-default">Edit</button>-->
    </div>
    </div>
  </div>
</script>

<script type="text/template" id="fldDropdown">
  <div class="col-lg-12 added-form form-group">
    <div class="wizard-content">
      <div class="col-sm-8" style="padding:0 0 10px 0;">
        <label for="flddropdown" id="lbl" class="col-sm-3 control-label"  style="padding-left:0;font-size: 13px;font-weight:400;">{{label}}<span class="text-danger">{{#is_required}}*{{/is_required}}</span></label>
        <div class="col-sm-9"  >
          <select id="flddropdown" label="{{label}}" items="{{items}}" data-type-id="{{data_type_id}}"  is-required={{required}} class="form-control my_fields ">{{{options}}}</select>
        </div>
      </div>
    <div class="col-sm-4" style="padding-right:0;">
      <button class="pull-right btn btn-small  btn-default btnDeleteFields" style="margin-left: 5px;">Delete</button>
      <!--<button class="pull-right btn btn-small  btn-default">Edit</button>-->
    </div>
    </div>
  </div>
</script>
<script type="text/template" id="fldApprovers">
  <tr class="tcontent my_approvers" designation="{{designation}}" email="{{email}}" fullname="{{fullname}}" approver_id = "{{approver_id}}" tat = "{{tat}}">
      <td style="padding: 10px 0 5px 30px;vertical-align:text-top;">{{designation}} Approval</td>
      <td style="padding: 10px 15px 0 0;text-align: right;vertical-align: text-top;">Assigned to</td>
      <td style="padding:10px 0 0 5px;">
        <strong>{{fullname}}</strong>
        <p style="margin-bottom: 0;"></p>
        <p>{{designation}}</p>
      </td>
      <td style="padding-top:10px;vertical-align:text-top;"><p>TAT <span>{{tat}} Days</span></p></td>
      <td style="padding-right: 30px;text-align: right;">
        <div>
          <!--<button class="btn btn-small btn-default">Edit</button>-->
          <button class="btn btn-small btn-default btnDeleteFldApprover">Delete</button>
        </div>
      </td>
  </tr>
</script>
<script type="text/template" id="fldAddApprovers">
<tr>
      <td class="col-md-6">
        <p style="font-size:13px;">
          <a id="assign-persons"><strong style="font-weight: 500;cursor:pointer;">Choose Approver</strong> </span></a>
          <!--<a id="assign-groups"><strong style="font-weight: 500;cursor:pointer;">Choose Approver Based on Management Line</strong></a>-->
        </p>
        <input fullname="{{fullname}}" designation="{{designation}}" approver_id="{{approver_id}}" email="{{email}}" id="approverSs" type="text" class="form-control approverS gene_required">
        <!--<select id="approverSGroups" name="approverSGroups" class="form-control gene_required">
             <option></option>
             <option value="1">Initiator's Immediate Superior</option>
             <option value="2">Initiator's Department Manager</option>
             <option value="3">Executive Officer</option>
         </select>  -->             
      </td>
      <td class="col-md-3">
        <p><strong  style="font-weight: 500;">Turn Around Time</strong></p>
        <input id="tat" class="spinner spinner-day  gene_required"> &nbsp;Day/s
         
      </td>
      <td class="col-md-3">
        <button class="btn btn-default btnSaveApprover">Save</button>
        <button class="btn btn-default btnDeleteApprover">Delete</button>
      </td>
    </tr>
</script>

  
<script type="text/template" id="fldActivities">
  <tr class="tcontent my_activities" designation="{{designation}}" email="{{email}}" fullname="{{fullname}}" approver_id = "{{approver_id}}" activity_name = "{{activity_name}}" tat="{{tat}}">
      <td style="font-size: 13px;padding: 10px 0 5px 30px;vertical-align:text-top;">{{activity_name}}</td>
      <td style="font-size: 13px;padding: 10px 0 5px 30px;vertical-align:text-top;"></td>
      <td style="font-size: 13px;padding: 10px 15px 0 0;text-align: right;vertical-align: text-top;">Assigned to</td>
      <td style="font-size: 13px;padding:10px 0 0 5px;">
        <strong>{{fullname}}</strong>
        <p style="margin-bottom: 0;">{{designation}}</p>
        <p style="margin-bottom: 0;">&nbsp;</p>
      </td>
      <td style="font-size: 13px;padding-top:10px;vertical-align:text-top;"><p>TAT <span>{{tat}} Day/s</span></p></td>
      <td style="padding-right: 30px;text-align: right;">
        <div>
          <!--<button class="btn btn-small btn-default">Edit</button>-->
          <button class="btn btn-small btn-default btnDeleteFldApprover">Delete</button>
        </div>
      </td>
  </tr>
</script>

<script type="text/template" id="fldAddActivities">
  <tr>
      <td class="col-md-3">
        <p style="font-size:13px;">
          <strong style="font-weight: 500;">Activity Name</strong>
        </p>
        <input id="activity_name" type="text" class="form-control" placeholder="Input Activity Name">
      </td>
      <td class="col-md-4 assign-to-panel">
        <p style="font-size:13px;">
          <a class="assign-person"><strong style="font-weight: 500;cursor:pointer;">Assign to Person </strong></a>
          <a class="assign-group"><strong style="font-weight: 500;padding-left: 10px;cursor:pointer;">Assign to Team</strong></a>
        </p>
       <input fullname="{{fullname}}" designation="{{designation}}" approver_id="{{approver_id}}" email="{{email}}" type="text" class="form-control approverS" placeholder="Input Name or Position" >
       <select name="approverSGroup" class="form-control gene_required approverSGroup">
            <option></option>
                <?php foreach($grouplist as $value): ?>
                    <option value="<?=$value->group_id?>"><?=$value->name?></option>
                <?php endforeach; ?>
        </select>                
      </td>
      <td class="col-md-2">
        <p><strong  style="font-weight: 500;">Turn Around Time</strong></p>
        <input id="tat" class="spinner spinner-day">&nbsp;Day/s
        
      </td>
      <td class="col-md-3">
        <button class="btn btn-default btnSaveActivity">Save</button>
        <button class="btn btn-default btnDeleteApprover">Delete</button>
      </td>
    </tr>
</script>