  <div class="col-lg-12 added-form form-group">
    <div class="wizard-content">
      <div class="col-sm-8" style="padding:0 0 10px 0;">
        <label for="dataType" id="lbl" class="col-sm-3 control-label" style="padding-left:0;font-size: 13px;font-weight:400;"><?=$fields->label?><span class="text-danger"><?php if($fields->required) echo '*';?></span></label>
        <div class="col-sm-9"  >

          <input type="text" id="dataType" label="<?=$fields->label?>" data-type-id="<?=$fields->data_type_id?>"  is-required="<?=$fields->required?>" class="form-control datepicker my_fields" placeholder="mm/dd/yy" style="width: 60%;display: inline;border-top-right-radius: 0;border-bottom-right-radius: 0;">
        </div>
      </div>
    <div class="col-sm-4" style="padding-right:0;">
      <button class="pull-right btn btn-small  btn-default btnDeleteFields" style="margin-left: 5px;">Delete</button>
      <!--<button class="pull-right btn btn-small  btn-default">Edit</button>-->
    </div>
    </div>
  </div>