<?php
  $options = $fields->RefDropdown;
  $items = array();
  foreach ($options as $value) {
    $items[] = $value->item;
  }

  $items = implode(",", $items);

?>
<div class="col-lg-12 added-form form-group">
  <div class="wizard-content">
    <div class="col-sm-8" style="padding:0 0 10px 0;">
      <label for="flddropdown" id="lbl" class="col-sm-3 control-label"  style="padding-left:0;font-size: 13px;font-weight:400;"><?=$fields->label?><span class="text-danger"><?php if($fields->required) echo '*';?></span></label>
      <div class="col-sm-9"  >
        <select id="flddropdown" label="<?=$fields->label?>" items="<?=$items?>" data-type-id="<?=$fields->data_type_id?>"  is-required="<?=$fields->required?>" class="form-control my_fields ">
          <?php foreach($fields->RefDropdown as $item): ?>
            <option value="<?=$item->item?>"><?=$item->item?></option>
          <?php endforeach;?>

        </select>
      </div>
    </div>
  <div class="col-sm-4" style="padding-right:0;">
    <button class="pull-right btn btn-small  btn-default btnDeleteFields" style="margin-left: 5px;">Delete</button>
    <!--<button class="pull-right btn btn-small  btn-default">Edit</button>-->
  </div>
  </div>
</div>