<div id="wrapper">    
  <?php $this->partial('common/sidebar'); ?>
  <div class="fixed-sidebar-ii">
    <div class="tab_contents">
      <?php $this->partial('content/requests_tab'); ?>
    </div>
  </div>

    <?php $this->partial('common/nav_header'); ?>

  <div class="admin-search-panel col-sm-12 col-lg-12" style="margin-top: 55px;">
    <?php $this->partial('common/search'); ?>
  </div>

  <div id="page-content-wrapper" style="padding-left: 215px;">
    <div class="container-fluid">
      <div class="row" style="margin-top: 115px;">
        <div id="overdue" class="main-content col-md-12">
          <?php if(sizeof($request_details) > 0) : ?>
          <?php $this->partial('content/requests_content'); ?>
          <?php endif; ?>
        </div>
      </div><!--end row-->
    </div><!--end container fluid-->
  </div><!--end page content wrapper-->
</div>

<?php $this->partial('common/followup_modal'); ?>
<?php $this->partial('common/cancel_modal'); ?>

