<div id="wrapper">
  <?php $this->partial('common/sidebar'); ?>

  <div id="page-content-wrapper">
    <div class="container-fluid">
      <div class="row">

        <div class="col-lg-12" style="padding:0;">
          <div class="col-md-12" style="padding-left:0;">
            <?php $this->partial('common/nav_header'); ?>
          </div>
          <div class="main-content-wrapper col-md-12" style="padding:0;">
            <div class="admin-search-panel col-sm-12 col-lg-12">
            <?php $this->partial('common/search'); ?>
            </div>

            <div class="table-responsive col-md-12" style="padding:0;margin-top:50px;">
              <?php $this->partial('content/add_user'); ?>
            </div>

          </div>

        </div>

      </div><!--end row-->
    </div><!--end container fluid-->
  </div><!--end page content wrapper-->

</div>

<?php $this->partial('common/success_modal'); ?>


