<?php 
echo '<script>var autocompletesource = '.$autocompletesource.';</script>';
?>
<div id="wrapper">
  <?php $this->partial('common/sidebar'); ?>

  <div id="page-content-wrapper">
    <div class="container-fluid">
      <div class="row">

        <div class="col-lg-12" style="padding:0;">
          <div class="col-md-12" style="padding-left:0;">
            <?php $this->partial('common/nav_header'); ?>
          </div>
          <div class="main-content-wrapper col-md-12" style="padding:0;">
            <div class="admin-search-panel col-sm-12 col-lg-12">
            <?php $this->partial('common/search'); ?>
            </div>
            
            <div class="col-md-12" style="padding:0;margin-top:50px;">

              <div class="main-content col-sm-12" style="padding:0;border-top:0;margin-top:0;">
                <div class="panel panel-ls panel-default" style="border:0;box-shadow:none;">
                  <div class="panel-heading" style="padding:10px 30px;">
                    <h5>CREATE GROUP</h5>
                  </div>
                  <div class="panel-body" style="padding-right:0;">
                      <div class="panel-media col-lg-12">
                        <div class="col-lg-12" style="padding:0;">
                  <form id="frmGroup" method="post">
                          <div class="col-md-5 col-lg-5" id="group_name_div">
                              <label>Group Name</label>
                              <input maxlength="45" id="group_name" name="group_name" type="text" class="form-control gene_required" style="width: 75%;">
                              <!--<a class="btn btn-default btn-vh-center" style="top: 18px;">Edit</a>-->
                          </div>
                          <div class="col-md-12" style="padding:0;">
                            <hr />
                          </div>

                          <div class="panel-media-inner col-md-12">
                            <label>Group Members</label>
                            <div id="membersContainer">
                              
                            </div>
                          </div>
                  </form>
                          <div class="col-md-12" style="padding:0;">
                            <hr />
                          </div>
                          <div id="addMemberContainer">
                          
                          </div>
                          <div class="panel-media-inner col-md-12">

                            <div class="col-lg-12" style="padding-left:0;border-bottom:0;">
                                <button id="btnAddMember" class="btn add btnf-f btn-default">
                                  <span class="fa-stack">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-plus fa-stack-1x fa-inverse"></i>
                                  </span>
                                  Add Member
                                </button>
                                <a href="<?=BASE_URI?>admin/groupManagement" class="btn btnf-f pull-right btn-default">CANCEL</a>
                                <button id="btnSave" class="btn btnf-f pull-right btn-success" style="margin-right:10px;">SAVE</button>
                            </div>
                          </div>

                        </div>
                      </div>
                  </div>
                </div>
              </div>
            </div>

          </div>

        </div>

      </div><!--end row-->
    </div><!--end container fluid-->
  </div><!--end page content wrapper-->

</div>


<style type="text/css">
  body {
    background:#fff;
  }
</style>
<script type="text/template" id="tplMember">
    <div class="col-md-12 fields-members" member_id = "{{member_id}}" style="padding:0;">
        <div class="col-md-5 col-lg-5" style="padding:0;">
          <h5>{{fullname}}</h5>
          <h5 style="padding-bottom: 10px;">{{designation}}</h5>
          <a class="btn btn-default btn-vh-center btn-remove-member" style="right: 40px; ">Remove</a>
        </div>
    </div>
</script>

<script type="text/template" id="tplAddMember">
<div  class="panel-media-inner col-lg-12">
    <div class="col-md-5 col-lg-5" style="padding-left:0;">
        <label style="color:#444;font-weight:500;margin-bottom:10px;">Add New Member</label>
        <input id="members" type="text" class="form-control gene_required" style="width: 75%;">
        <a class="btn btn-default btn-vh-center btn-add-member " style="top: 32px;right: 35px;">Add</a>
    </div>
</div>
</script>
<?php $this->partial('common/success_modal'); ?>
