<div id="wrapper">
  <?php $this->partial('common/sidebar'); ?>

  <div id="page-content-wrapper">
    <div class="container-fluid">
      <div class="row">

        <div class="col-lg-12" style="padding:0;">
          <div class="col-md-12" style="padding-left:0;">
            <?php $this->partial('common/nav_header'); ?>
          </div>

          <div class="main-content-wrapper col-md-12">

    <!--         <div class="tab_contents col-sm-2 col-md-3 col-lg-3">
              <ul class="step-center">
                  <li>1 <span style="position: absolute; color: orange;left:30px;width:300px;text-align:left;">Workflow Details</span></li>
                  <li>2 <span style="position: absolute; color: orange;left:30px;width:300px;text-align:left;">Form Design</span></li>
                  <li>3 <span style="position: absolute; color: orange;left:30px;width:300px;text-align:left;">Set Approvers</span></li>
                  <li class="inactive">4 <span style="position: absolute; color: grey;left:30px;width:300px;text-align:left;">Set Activites</span></li>
                  <li class="inactive">5 <span style="position: absolute; color: grey;left:30px;width:300px;text-align:left;">Publish Workflow</span></li>
                </ul>              
            </div> -->

            <div  class="main-content col-sm-10 col-md-9 col-lg-12">







             
              
            </div>

          </div>
        </div>

      </div><!--end row-->
    </div><!--end container fluid-->
  </div><!--end page content wrapper-->

</div>


<style type="text/css">
  body {
    background:#fff;
  }
</style>


