<?php 
echo '<script>var search_list = '.$search_list.';</script>';

?>

<div id="wrapper">    
  <?php $this->partial('common/sidebar'); ?>
  <div class="fixed-sidebar-ii" style="margin-top: 56px;width: 196px;border-right: solid 1px #ccc;">
    <div class="col-lg-12" style="padding: 10px 0px 0px 16px;">
        <h5 style="color:#454444;font-weight: 400;margin-bottom: 2px;font-size:14px;">Create New Workflow</h5>
        <p style="color:#454444;font-size: 10px;font-weight:300;margin-top: 0px;">Create a new workflow<br> from scratch.</p>
    </div>
    <ul class="step-circle-lists">
      <li id="step-circle-lists-1" class="active">1<span>Workflow Details</span></li>
      <li id="step-circle-lists-2">2<span>Form Design</span></li>
      <li id="step-circle-lists-3">3<span>Set Approvers</span></li>
      <li id="step-circle-lists-4">4<span>Set Activities</span></li>
      <li id="step-circle-lists-5">5<span>Publish Workflow</span></li>
    </ul>
      <form id="frmDiscard" method="post"></form> 
    <button id="btnDisc" class="btn btnf-f btn-danger" style="position:absolute;left:0;right:0;bottom:150px;margin:0 auto;">DISCARD</button>
  </div>

    <?php $this->partial('common/nav_header'); ?>
    <?php $this->partial('common/delete_modal'); ?>
    <?php $this->partial('common/discard_modal'); ?>


  <div id="page-content-wrapper" style="padding-left: 195px;">
    <div class="container-fluid">
      <div class="row" style="margin-top: 55px;">
        <div  class="main-content col-md-12" style="padding:0;">
          <?php $this->partial('content/create_workflow'); ?>
          <?php $this->partial('workflowcreate/publish'); ?>
        </div>
      </div><!--end row-->
    </div><!--end container fluid-->
  </div><!--end page content wrapper-->

</div>





<style type="text/css">
  body {
    background:#fff;
  }
</style>
