<div id="wrapper">
  <?php $this->partial('common/sidebar'); ?>

  <div id="page-content-wrapper">
    <div class="container-fluid">
      <div class="row">

        <div class="col-lg-12" style="padding:0;">
          <div class="col-md-12" style="padding-left:0;">
            <?php $this->partial('common/nav_header'); ?>
          </div>
          <div class="main-content-wrapper col-md-12" style="padding:0;">
            <div class="admin-search-panel col-sm-12 col-lg-12" style="padding-left:0px;">
            <?php $this->partial('common/search'); ?>
            </div>
            
            <div class="col-md-12" style="padding:0;margin-top:-10px;">
              <div class="tab_contents col-sm-4 col-md-6 col-lg-6">
                <?php $this->partial('content/group_list'); ?>
              </div>

              <div class="main-content col-sm-8 col-md-6 col-lg-6" style="padding:0;border-top:0;margin-top:0;">
                <div class="panel panel-ls panel-default" style="border:0;box-shadow:none;">
                  <div class="panel-heading">
                    <h5 style="padding-top: 8px;font-size: 14px;font-weight: 500;color: #444;"><span><?=$group_details[0]->name?></span> GROUP DETAILS</h5>
                  </div>
                  <div class="panel-body" style="padding-right:0;">
                      <div class="panel-media col-lg-12">
                        <div class="col-lg-12" style="padding:0;">
                          <div class="col-lg-12">
                              <label>Group Name</label>
                              <h5><?=$group_details[0]->name?></h5>
                          </div>
                          <div class="col-md-12" style="padding:0;">
                            <hr />
                          </div>
                          <div class="panel-media-inner col-lg-12">
                            <label>Group Members</label>
                            <?php foreach($group_details as $detail): ?>
                            <div>
                                <h5><?=$detail->firs_name.' '.$detail->last_name?></h5>
                                <h5><?=$detail->designation?></h5>
                            </div>
                            <?php endforeach; ?>
                          </div>

                          <div class="col-md-12" style="padding:0;">
                            <hr />
                          </div>

                          <div class="panel-media-inner col-lg-12">
                            <div class="col-lg-4" style="padding:0;border-bottom:0;">
                              <label>Date Last Updated</label>
                              <h5><?=$this->helper->convertToDate($group_details[0]->date_updated,'m/d/y h:i:s A')?></h5>
                              <br>
                              <label>Date Created</label>
                              <h5><?=$this->helper->convertToDate($group_details[0]->date_created,'m/d/y h:i:s A')?></h5>
                            </div>
                            <form id="frmEdit" method="post" action="<?=BASE_URI?>admin/groupManagement/editGroup?group_id=<?=$group_id?>">
                                <input type="hidden" name="group_id" value="<?=$group_id?>">
                            </form>
                            <div class="col-lg-8">
                              <div class="pull-right" style="padding-top:20px;">
                                  <?php if(sizeof($group_details) > 0){ ?>
                                    <a onclick="$('#frmEdit').submit()" class="btn btnf-f btn-success">EDIT GROUP</a>
                                    <a id="btnDeleteGroup" group-id="<?php echo $group_details[0]->group_id;?>" group-name="<?php echo $group_details[0]->name?>"class="btn btnf-f btn-default">DELETE GROUP</a>
                                  <?php }?>
                              </div>
                            </div>
                          </div>

                        </div>
                      </div>
                  </div>
                </div>
              </div>
            </div>

          </div>

        </div>

      </div><!--end row-->
    </div><!--end container fluid-->
  </div><!--end page content wrapper-->

</div>

<?php $this->partial('common/delete_group_modal'); ?>

<style type="text/css">
  body {
    background:#fff;
  }
  .panel-default.panel-ls .panel-media label, .panel-default.panel-ls .panel-media h5{
      font-size: 12px !important;
  }
</style>
