<div id="wrapper">
  <?php $this->partial('common/sidebar'); ?>

  <div id="page-content-wrapper">
    <div class="container-fluid">
      <div class="row">

        <div class="col-lg-12" style="padding:0;">
          <div class="col-md-12" style="padding-left:0;">
            <?php $this->partial('common/nav_header'); ?>
          </div>
          <div class="main-content-wrapper col-md-12" style="padding:0;">

            <div class="admin-search-panel col-sm-12 col-lg-12" style="padding-left:0px;">
            <?php $this->partial('common/search'); ?>
            </div>

            <div class="table-ressponsive col-md-12" style="padding:0;margin-top:-10px;">
            <?php $this->partial('content/workflow_list'); ?>
            </div>

          </div>

        </div>

      </div><!--end row-->
    </div><!--end container fluid-->
  </div><!--end page content wrapper-->

</div>

<?php $this->partial('common/create_workflow_modal'); ?>


<style type="text/css">
  body {
    background:#fff;
  }
</style>
