<script type="text/javascript" src="https://cdn.datatables.net/r/bs-3.3.5/jqc-1.11.3,dt-1.10.8/datatables.min.js"></script>
<link rel="stylesheet" type="text/css" href="<?= BASE_URI ?>css/datatables.min.css"/>
<script type="text/javascript" charset="utf-8">
    $(document).ready(function () {
        //$('#userlist').DataTable();
        $('#reportlist').dataTable({
            paginate: false,
            searching: false,
            "order": [[0, "desc"]],
        });
    });
</script>
<div id="wrapper">
  <?php $this->partial('common/sidebar'); ?>

  <div id="page-content-wrapper">
    <div class="container-fluid">
      <div class="row">

        <div class="col-lg-12" style="padding:0;">
          <div class="col-md-12" style="padding-left:0;">
            <?php $this->partial('common/nav_header'); ?>
          </div>
          <div class="main-content-wrapper col-md-12" style="padding:0;">
            <div class="admin-search-panel col-sm-12 col-lg-12">
            <?php $this->partial('common/search'); ?>
            
            </div>
            <div id="reportsContainer" style="">
            <?php $this->partial('content/reports'); ?>
                
            </div>
          </div>

        </div>

      </div><!--end row-->
    </div><!--end container fluid-->
  </div><!--end page content wrapper-->

</div>

 <?php $this->partial('common/request_modal'); ?>

<style type="text/css">
  body {
    background:#fff;
  }
</style>
