<div id="wrapper">
  <?php $this->partial('common/sidebar'); ?>

  <div id="page-content-wrapper">
    <div class="container-fluid">
      <div class="row">

        <div class="col-lg-12" style="padding:0;">
          <div class="col-md-12" style="padding-left:0;">
            <?php $this->partial('common/nav_header'); ?>
          </div>
          <div class="main-content-wrapper col-md-12" style="padding:0;">
            
            <div class="col-md-12" style="padding:0;">


              <div class="main-content col-lg-12" style="padding:0;margin-top:0;">
                <?php $this->partial('content/settings'); ?>
              </div>
            </div>

          </div>

        </div>

      </div><!--end row-->
    </div><!--end container fluid-->
  </div><!--end page content wrapper-->

</div>

<?php $this->partial('common/success_modal'); ?>

<style type="text/css">
  body {
    background:#fff;
  }
</style>
