<div id="activateworkflow" class="modal  modal-flow fade">
  <div class="modal-dialog modal-sm" style="width: 35%;margin-top: 200px">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" style="font-size:13px;">Suspend Workflow | Activate Workflow</h4>
      </div>
      <div class="modal-body" style="padding:20px 15px;">
        <div class="row">
          <!--<div class="form-group" style="padding:5px 18px;margin-bottom:0;">
            <span class="col-sm-4" style="padding: 0px; font-size: 12px;">Workflow Name</span>
            <label for="" style="font-size: 12px;">Employee Onboarding</label>
          </div>
          <div class="form-group" style="padding:5px 18px;margin-bottom:0;">
            <span class="col-sm-4" style="padding: 0px; font-size: 12px;">Workflow Category</span>
            <label for="" style="font-size: 12px;">Human Resources Related</label>
          </div>-->
          <!--<div class="form-group" style="padding:5px 18px;margin-bottom:0;">
            <span class="col-sm-4" style="padding: 0px; font-size: 12px;">Duration</span>
            <input class="spinner" id="spinner" name="value" disabled>
          </div>-->
          <p id="deleteMessage"></p>
          <div class="text-center col-sm-12" style="margin-top:25px;">
                    <a id="btnActivateWorkflow" class="btn btnf-f btn-success">ACTIVATE</a>
                    <a id="btnDiscardWorkflow" class="btn btnf-f btn-danger" style="margin-left:10px;">SUSPEND NOW</a>            
          </div>
              
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->