<div id="cancelModal" class="modal modal-confirmation  modal-flow fade">
  <div class="modal-dialog modal-sm" style="">
    <div class="modal-content">
      <div class="text-center modal-header-circle modal-header">
        <h2 class="modal-title"><i class="fa fa-check"></i></h2>
      </div>
      <div class="confirm-body modal-body">
        <div class="text-center row">
            <h3>Cancel Request?</h3>
            <p id="cancelMessage"></p>
            <a id="btnCancelOk" class="btn btnf-f btn-success">Yes</a>
            <a id="btnCancel" class="btn btnf-f btn-danger">No</a>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
