<div id="createWorkflow" class="modal  modal-flow fade">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" style="font-size:13px;">Enter Password to Confirm Action</h4>
      </div>
      <div class="modal-body">
        <div class="row">
        <form>
          <div class="form-group" style="padding: 25px 40px;margin-bottom:0;">
            <input type="password" class="form-control" id="password" placeholder="Password">
          </div>
        </form>          
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->