<div id="createWorkflow" class="modal  modal-flow fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Create Workflow</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="modal-content-content-3 col-md-4">
            <a href="<?=BASE_URI?>admin/create_workflow" class="thumbnail">
            <span>
              <img src="<?=BASE_URI?>img/icons/add-icon.svg" alt="...">
              <p>Create New</p>
            </span>
            </a>
          </div>
          <div class="modal-content-content-3 col-md-4">
            <a href="<?=BASE_URI?>admin/create_from_existing_workflow" class="thumbnail">
            <span>
              <img src="<?=BASE_URI?>img/icons/existing-icon.svg" alt="...">
              <p>Create New from Existing Template</p>              
            </span>
            </a>
          </div>
          <div class="modal-content-content-3 col-md-4">
            <a href="<?=BASE_URI?>admin/edit_existing_workflow" class="thumbnail">
            <span>
              <img src="<?=BASE_URI?>img/icons/edit-icon.svg" alt="...">
              <p>Edit Existing Workflow</p>
            </span>
            </a>
          </div>          
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->