<div id="deleteModal" class="modal modal-confirmation  modal-flow fade">
  <div class="modal-dialog modal-sm" style="">
    <div class="modal-content">
      <div class="text-center modal-header-circle delete modal-header">
        <h2 class="modal-title"><i class="fa fa-times"></i></h2>
      </div>
      <div class="confirm-body modal-body">
        <div class="text-center row">
            <h3 id="title"></h3>
            <p id="deleteMessage"></p>
            <a class="btn btnf-f btn-success" data-dismiss="modal">BACK TO EDIT</a>
            <a id="btnDel" class="btn btnf-f btn-danger" style="margin-left:10px;">DISCARD</a>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->