<div id="followupModal" class="modal modal-confirmation  modal-flow fade">
  <div class="modal-dialog modal-sm" style="">
    <div class="modal-content">
      <div class="text-center modal-header-circle modal-header">
        <h2 class="modal-title"><i class="fa fa-check"></i></h2>
      </div>
      <div class="confirm-body modal-body">
        <div class="text-center row">
            <h3>Success!</h3>
            <p id="followupMessage"></p>
            <a id="btnOk" class="btn btnf-f btn-success">OK</a>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
