<div id="createWorkflow" class="modal  modal-flow fade" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-sm">
    <div class="modal-content" style="margin-top: 195px;background: none;box-shadow: none;border: 0;">
      <div class="text-center modal-body">
        <i class="fa fa-spinner fa-pulse fa-5x" style="color:white;"></i>
      </div>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->