<nav class="nav-action-links">
	<ul class="nav nav-pills" style="margin-left:15px;">
    <?php if(TASK): ?>
	  <li class="pills <?php if(($controller_name == 'task') && ($action_name == 'index') || ($controller_name == 'user') && ($action_name == 'index')) echo 'active';?>" role="presentation">
      <a href="<?=BASE_URI?>task">Tasks</a>
    </li>
    <?php endif; ?>

    <?php if(REQUEST): ?>
	  <li class="pills <?php if(($controller_name == 'request') && (($action_name == 'index') || ($action_name == 'initiate')) ) echo 'active';?>" role="presentation">
      <a href="<?=BASE_URI?>request">Requests</a>
    </li>
    <?php endif; ?>
    <?php if(ADMIN): ?>
    <li class="pills <?php if(($controller_name == 'admin') && ($action_name != 'reports')) echo 'active';?>" role="presentation">
      <a href="<?=BASE_URI?>admin">Admin</a>
    </li>
    <?php endif; ?>
    <?php if(REPORTS): ?>
    <li class="pills <?php if($action_name == 'reports') echo 'active';?>" role="presentation">
      <a href="<?=BASE_URI?>admin/reports">Reports</a>
    </li>
    <?php endif; ?>


      <li class="dropdown pull-right" style="margin-right:260px;margin-top:-8px !important;">
          <span style="vertical-align: middle;line-height: 40px;font-weight:400;font-size: 10px;color: #454444;">Hello <label style="font-weight:500;font-size: 10px;color: #454444;margin-right:5px;"><?=FIRST_NAME?> <?=LAST_NAME?></label> <a href="<?=BASE_URI?>index/logout" style="color:#F36527;">Log out</a></span>
       </li>
	</ul>
</nav>

