<div id="requestList" class="modal  modal-flow fade ">
  <div class="modal-dialog modal-sm" style="width: 60%;">
    <div class="modal-content">
      <div class="modal-header">
          <button  id="btnDelRequest" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" style="font-size:13px;">Task History</h4>
      </div>
      <div class="modal-body" style="padding:20px 15px;">
   

          <input type="hidden" id="request_id"/>
 <body onload="" id="bodyrequest">
        <div class="row">
          <!--<div class="form-group" style="padding:5px 18px;margin-bottom:0;">
            <span class="col-sm-4" style="padding: 0px; font-size: 12px;">Workflow Name</span>
            <label for="" style="font-size: 12px;">Employee Onboarding</label>
          </div>
          <div class="form-group" style="padding:5px 18px;margin-bottom:0;">
            <span class="col-sm-4" style="padding: 0px; font-size: 12px;">Workflow Category</span>
            <label for="" style="font-size: 12px;">Human Resources Related</label>
          </div>-->
          <!--<div class="form-group" style="padding:5px 18px;margin-bottom:0;">
            <span class="col-sm-4" style="padding: 0px; font-size: 12px;">Duration</span>
            <input class="spinner" id="spinner" name="value" disabled>
          </div>-->
         
         <div id="deleteMessage">
         <?php 
         //$request_id = $this->session->get('report_list_session');
         
         $to = MmpiTableOfOrganization::findFirst("employee_id='".EMPLOYEE_ID."'");
         $request_id =$to->request_id;
         $request_details = EmployeRequest::getRequestDetails($request_id); 
         $percentage = ($request_details->total_completed / $request_details->total_tasks) * 100; ?>
         </div>
     <div class="col-md-12" style="padding:0;">
        <div class="col-md-2" style="padding:0;">
          <label style="font-weight:400;font-size:13px;margin-left: 40px;"> Request Progress</label>
        </div>
        <div class="col-md-10" style="padding-right: 0;">
        <div class="progress" style="text-align:right;margin-right: 40px;">
          <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: <?=$percentage?>%;"></div>
          <a class="text-warning"><?=round($percentage,2)?>%</a>
        </div>          
        </div>
      </div>
       <table class="table table-striped" style="width:90%;margin-bottom:0 !important;margin-left: 40px;">

           <thead>
                <tr>
                  <th>Task</th>
                  <th>Assignee</th>
                  <th style="width:18%;">Date and Time</th>
                  <th>TAT</th>
                  <th>Age</th>
                  <th>Status</th>
                </tr>
           </thead>

           <tbody>
              <tr>
                <td style="">Initiated</td>
                <td style="">
                  <p style="margin-bottom:0;"><?=$request_details->firs_name.' '.$request_details->last_name?></p>
                  <p style="margin-top:0;"><small><?=$request_details->designation?></small></p>
                </td>
                <td style="">
                  <p style="margin-bottom:0;"><?=$this->helper->convertToDate($request_details->date_request,'M d, Y')?></p>
                  <p style="margin-top:0;"><small><?=$this->helper->convertToDate($request_details->date_request,'h:i A')?></small></p>
                </td>
                <td style=""></td>
                <td style=""></td>
                <td style=""><p class="status bg-initiated">Initiated</p></td>
              </tr>
              <?php $x  = EmployeRequest::findFirstByRequestId($request_id);?>
            <?php if($x->filename): ?>
              <tr class="comment">
                <td><small>Comments <span><?=$value->date_created?></span></small></td>
                <td colspan="5">
                  <i class="text-warning fa  fa-commenting-o"></i> <i>"<?=$x->comments?>"</i>
                  <?php if(!empty($x->filename)): ?>
                    <i class="text-warning fa  fa-paperclip fa-flip fa-flip-vertical"></i> <small style="text-decoration:underline;text-align:left;cursor:context-menu;">
                    <a href="<?=BASE_URI.'/uploads/requests/'.$x->filename?>" target="_blank">"<?=$x->filename?>"</a></small>
                  <?php endif;?>
                </td>
              </tr> 
            <?php endif;?>              
          <?php $lastemail="";?>
          <?php $i = 0; ?>
          <?php $req_approval = RequestApproval::getRequestApprovalDetails($request_id); ?>
          <?php foreach ($req_approval as $value): ?>
              <?php if($i == 0): ?>
              <?php $lastemail= $value->email;?>
              <?php endif;?>
              <tr>
                <td style=""><?=$value->designation?>  Approval</td>
                <td style="">
                  <p class="assignee" style="margin-bottom:0;"><?=$value->firs_name.' '.$value->last_name?></p>
                  <p style="margin-top:0;"><small><?=$value->designation?></small></p></td>
                <td style="">
                <p style="margin-bottom:0;"><?=$this->helper->convertToDate($value->date_started,'M d, Y')?></p>
                <p style="margin-top:0;"><small><?=$this->helper->convertToDate($value->date_started,'h:i A')?></small></p></td>
                <td style=""><?=$value->tat?> Day/s</td>
                <?php if($value->status == 1): ?>
                    <td style=""><?=$this->helper->subtractDate(CURR_DATETIME,$value->date_started)?> Day/s</td>
                <?php elseif($value->status == 2): ?>
                    <td style=""><?=$this->helper->subtractDate($value->date_approved,$value->date_started)?> Day/s</td>
                <?php endif; ?>
                <?php $class="bg-success"; 
                if($value->status_name == "Pending")
                {
                    $class="bg-info";
                } 
                if($value->status == 1)
                {
                    $age = $this->helper->subtractDate(CURR_DATETIME,$value->date_started);
                    if($age > $value->tat)
                    {
                        $class="bg-danger";
                        $value->status_name = "Overdue";
                    }
                    
                }
                else if($value->status == 2) {
                    $age = $this->helper->subtractDate($value->date_approved,$value->date_started);
                    if($age > $value->tat)
                    {
                        $class="bg-success";
                        $value->status_name = "Approved";//CHANGETOOVERDUE
                    }
                }
                ?>            
                <td style=""><p class="status <?=$class?>"><?=$value->status_name?></p></td>

              </tr>
            <?php if($value->comments): ?>
              <tr class="comment">
                <td><small>Comments <span><?=$value->date_approved?></span></small></td>
                <td colspan="5">
                  <i class="text-warning fa  fa-commenting-o"></i> <i>"<?=$value->comments?>"</i>
                  <?php if(!empty($value->filename)): ?>
                    <i class="text-warning fa  fa-paperclip fa-flip fa-flip-vertical"></i> <small style="text-decoration:underline;text-align:left;cursor:context-menu;">
                    <a href="<?=BASE_URI.'/uploads/requests/'.$value->filename?>" target="_blank">"<?=$value->filename?>"</a></small>
                  <?php endif;?>
                </td>
              </tr> 
            <?php endif;?>
            <?php $i++; ?>
         <?php endforeach; ?>

        <?php $req_det = RequestActivities::getRequestActivitiesDetails($request_id) ?>
        <?php foreach ($req_det  as $value): ?>
            <?php if ($value->activity_name != "Acknowledge Request") { ?>
             <?php $array_id = explode("-",$value->approver_id); 
                    $employee_id_1 = $array_id[0];
                    $employee_id_2 = $array_id[1];
             ?>
             <?php $lastemail = $value->email;?>
			<tr>
                <td style=""><?=$value->activity_name?></td>
                <td style="">
                <?php if($employee_id_1 == "TEAM"){?>    
                    <p style="margin-bottom:0;"><?=$value->groupname?></p>
                <?php } else {?>  
                    <p style="margin-bottom:0;"><?=$value->firs_name.' '.$value->last_name?></p>
                <?php }?>    
                <p style="margin-top:0;"><small><?=$value->designation?></small></p></td>
                <td style="">
                <p style="margin-bottom:0;"><?=$this->helper->convertToDate($value->date_started,'M d, Y')?></p>
                <p style="margin-top:0;"><small><?=$this->helper->convertToDate($value->date_started,'h:i A')?></small></p></td>
                <td style=""><?=$value->tat?> Day/s</td>
                <?php if($value->status == 1): ?>
            <td style=""><?=$this->helper->subtractDate(CURR_DATETIME,$value->date_started)?> Day/s</td>
                <?php elseif($value->status == 2): ?>
            <td style=""><?=$this->helper->subtractDate($value->date_approved,$value->date_started)?> Day/s</td>
                <?php endif; ?>
                <?php $class="bg-success"; 
                if($value->status_name == "Pending")
                {
                    $class="bg-info";
                } 
                if($value->status == 1)
                {
                    $age = $this->helper->subtractDate(CURR_DATETIME,$value->date_started);
                    if($age > $value->tat)
                    {
                        $class="bg-danger";
                        $value->status_name = "Overdue";
                    }
                    
                }
                else if($value->status == 2) {
                    $age = $this->helper->subtractDate($value->date_approved,$value->date_started);
                    if($age > $value->tat)
                    {
                        $class="bg-success";
                        $value->status_name = "Approved";//CHANGETOOVERDUE
                    }
                }
                ?>              
                <td style=""><p class="status <?=$class?>"><?php if($value->status_name == "Approved"){echo "Completed";}else{echo $value->status_name;}?></p></td>

              </tr>
                    <?php if($value->comments): ?>
                      <tr class="comment">
                        <td><small>Comments <span><?=$value->date_updated?></span></small></td>
                        <td colspan="5">
                          <i class="text-warning fa  fa-commenting-o"></i> <i>"<?=$value->comments?>"</i>
                          <?php if(!empty($value->filename)): ?>
                            <i class="text-warning fa  fa-paperclip fa-flip fa-flip-vertical"></i> <small style="text-decoration:underline;text-align:left;cursor:context-menu;">
                            <a href="<?=BASE_URI.'/uploads/requests/'.$value->filename?>" target="_blank">"<?=$value->filename?>"</a></small>
                          <?php endif;?>
                        </td>
                      </tr> 
                    <?php endif;?>
			<?php } else { ?>
			<tr>
                <td style=""><?=$value->activity_name?></td>
                <td style="">
                <p style="margin-bottom:0;"><?=$request_details->firs_name.' '.$request_details->last_name?></p>
                <p style="margin-top:0;"><small><?=$request_details->designation?></small></p></td>
                <td style="">
                <p style="margin-bottom:0;"><?=$this->helper->convertToDate($value->date_started,'M d, Y')?></p>
                <p style="margin-top:0;"><small><?=$this->helper->convertToDate($value->date_started,'h:i A')?></small></p></td>
                <td style=""><?=$value->tat?> Day/s</td>
                <?php if($value->status == 1): ?>
            <td style=""><?=$this->helper->subtractDate(CURR_DATETIME,$value->date_started)?> Day/s</td>
                <?php elseif($value->status == 2): ?>
            <td style=""><?=$this->helper->subtractDate($value->date_approved,$value->date_started)?> Day/s</td>
                <?php endif; ?>
                <?php $class="bg-success"; 
                if($value->status_name == "Pending")
                {
                    $class="bg-info";
                } 
                if($value->status == 1)
                {
                    $age = $this->helper->subtractDate(CURR_DATETIME,$value->date_started);
                    if($age > $value->tat)
                    {
                        $class="bg-danger";
                        $value->status_name = "Overdue";
                    }
                    
                }
                else if($value->status == 2) {
                    $age = $this->helper->subtractDate($value->date_approved,$value->date_started);
                    if($age > $value->tat)
                    {
                        $class="bg-success";
                        $value->status_name = "Approved";//CHANGETOOVERDUE
                    }
                }
                ?>                 
                <td style=""><p class="status <?=$class?>"><?=$value->status_name?></p></td>

              </tr>
			<?php } ?>
         <?php endforeach; ?>         
           </tbody>
           <tfoot>
             <tr class="text-center">
               <td colspan="6" style="padding: 0px;height: 10px;"></td>
             </tr>
           </tfoot>
          </table>        
        </div>
      </body>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->