
<div class="ui-widget input-group input-group-lg" >
<form id="frmWorkflowSearch" method="post" action="<?=BASE_URI?>admin"><input type="hidden" id="wf_search_key" name="wf_search_key"/></form> 
<form id="frmUserSearch" method="post" action="<?=BASE_URI?>admin/userManagement"><input type="hidden" id="user_search_key" name="user_search_key"/></form> 
<form id="frmGroupSearch" method="post" action="<?=BASE_URI?>admin/groupManagement"><input type="hidden" id="group_search_key" name="group_search_key"/></form> 
<form id="frmRequestSearch" method="post" action="<?=BASE_URI?>request?status=search"><input type="hidden" id="request_search_key" name="request_search_key"/></form> 
<form id="frmTaskSearch" method="post" action="<?=BASE_URI?>task?task=search"><input type="hidden" id="task_search_key" name="task_search_key"/></form> 

<?php if(($controller_name == 'admin') && ($action_name == 'index')) { ?>
	<span class="input-group-btn input-group-btn-wf-search" style="transform: rotate(270deg);z-index:99;">
	<button class="btn" type="button"><span class="icon_search" id="search" style="font-size:15px;"></span></button>
	</span>    
	<input id="main-search" type="text" class="form-control search-box wf-search" placeholder="Search Workflows" value="<?=$wf_search_key?>"/>
<?php }?>

<?php if(($controller_name == 'admin') && ($action_name == 'userManagement')) { ?>
     
	<span class="input-group-btn input-group-btn-user-search" style="transform: rotate(270deg);z-index:99;">
	<button class="btn" type="button"><span class="icon_search" id="search" style="font-size:15px;"></span></button>
	</span>        
        <input id="main-search" type="text" class="form-control search-box user-search" placeholder="Search Users" value="<?=$user_search_key?>"/>
     
<?php }?>

<?php if(($controller_name == 'admin') && ($action_name == 'groupManagement')) { ?>
	<span class="input-group-btn input-group-btn-group-search" style="transform: rotate(270deg);z-index:99;">
	<button class="btn" type="button"><span class="icon_search" id="search" style="font-size:15px;"></span></button>
	</span>        
	<input id="main-search" type="text" class="form-control search-box group-search" placeholder="Search Groups" value="<?=$group_search_key?>"/>
<?php }?>


<?php if(($controller_name == 'admin') && ($action_name == 'reports')) { ?>

	<div style="right:600px;top:11px;padding-top: 10px;padding-bottom: 10px;float:right;width:1100px;">
           
            <a onclick="printContentLandscape('reportsDetailContainer')" class="btn btn-default" style="font-size: 12px;font-weight: 500;float:right;"><i style="margin-right:5px;"  class="fa  fa-print"></i>PRINT</a>	  
            <a class="btn btn-default btn-saveasexcel" style="font-size: 12px;font-weight: 500;float:right;margin-right: 20px;"><i style="margin-right:5px;" class="fa  fa-folder"></i>SAVE AS XLS</a>
             <!--<a class="btn btn-default btn-saveascsv" style="font-size: 12px;font-weight: 500;float:right;margin-right:5px;"><i style="margin-right:5px;" class="fa  fa-folder"></i>SAVE AS CSV</a>-->
            <a class="btn btn-default btn-saveaspdf" style="font-size: 12px;font-weight: 500;float:right;margin-right: 20px;"><i style="margin-right:5px;" class="fa  fa-folder"></i>SAVE AS PDF</a>
	  
	</div>
<?php }?>

<?php if(($controller_name == 'request') && ($action_name == 'index')) { ?>
	<span class="input-group-btn input-group-btn-request-search" style="transform: rotate(270deg);z-index:99;">
	<button class="btn" type="button"><span class="icon_search" id="search" style="font-size:15px;"></span></button>
	</span>        
	<input id="main-search" type="text" class="form-control search-box request-search" placeholder="Search My Requests" value="<?=$req_search_key?>">
<?php } ?>



<?php if($controller_name == 'task') { ?>
	<span class="input-group-btn input-group-btn-task-search" style="transform: rotate(270deg);z-index:99;">
	<button class="btn" type="button"><span class="icon_search" id="search" style="font-size:15px;"></span></button>
	</span>        
	<input id="main-search" type="text" class="form-control search-box task-search" placeholder="Search My Tasks" value="<?=$task_search_key?>">
<?php }?>
</div>






