<div id="sidebar-wrapper">
	<div class="sidebar-nav">
		<div class="col-md-12 sidebar-brand">
			<a class="logo" href="#">
                <img src="<?=BASE_URI?>img/icons/logo.png">
            </a>
<!--             <a class="menu-toggle">
				<span class="fa-stack fa-lg">
				  <i class="fa fa-caret-left -1x"></i>
				  <i class="fa fa-bars fa-stack-1x"></i>
				</span>
            </a> -->			
		</div>

		<div class="col-md-12 sidebar-content">
		<?php if($controller_name == 'admin') { ?>
			<ul class="list-group">
				<li>
				<?php if($action_name == 'reports') { ?>
					<span>Reports</span>
				<?php } else { echo '<span>Administrator</span>'; } ?>
				</li>
                                <?php if(FLOW_MGT): ?>
				<li>
                                    <?php if($action_name == 'reports') { ?>
					<a  class="list-group-item <?php if($action_name == 'index') echo 'active';?>" href="">
						<span><img class="svg" src="<?=BASE_URI?>img/icons/icon-workflow.svg" height="15" width="15"></span>
						Workflow Performance
					</a>
                                    <?php }else{?>
					<a  class="list-group-item <?php if($action_name == 'index') echo 'active';?>" href="<?=BASE_URI?>admin">
						<span><img class="svg" src="<?=BASE_URI?>img/icons/icon-workflow.svg" height="15" width="15"></span>
						Workflows
					</a>
                                    <?php }?>

                                    
				</li>
                                <?php endif; ?>
                                    <?php if(FLOW_MGT != 1){?>
                                        <li>
					<a  class="list-group-item <?php if($action_name == 'index') echo 'active';?>" href="">
						<span><img class="svg" src="<?=BASE_URI?>img/icons/icon-workflow.svg" height="15" width="15"></span>
						Workflow Performance
					</a>
                                        </li>
                                    <?php } ?>
                                <?php if(USER_MGT): ?>
				<li>
                                    <?php if($action_name != 'reports') { ?>
					<a class="list-group-item <?php if($action_name == 'userManagement') echo 'active';?>" href="<?=BASE_URI?>admin/userManagement">
						<span><img class="svg" src="<?=BASE_URI?>img/icons/icon-user.svg" height="15" width="15"></span>
						User Management
					</a>
                                    <?php }?>
				</li>
                                <?php endif; ?>
                                <?php if(GROUP_MGT): ?>
				<li>
                                    <?php if($action_name != 'reports') { ?>
					<a class="list-group-item <?php if($action_name == 'groupManagement') echo 'active';?>" href="<?=BASE_URI?>admin/groupManagement">
						<span><img class="svg" src="<?=BASE_URI?>img/icons/icon-groups.svg" height="15" width="15"></span>
						Groups Management
					</a>
                                    <?php }?>
				</li>
                                <?php endif; ?>
                                <?php if(SETTINGS): ?>
				<li>
                                    <?php if($action_name != 'reports') { ?>
					<a class="list-group-item <?php if($action_name == 'settings') echo 'active';?>" href="<?=BASE_URI?>admin/settings">
						<span><img class="svg" src="<?=BASE_URI?>img/icons/icon-settings.svg" height="15" width="15"></span>
						Settings
					</a>
                                    <?php }?>
				</li>
                                <?php endif; ?>
				<li></li>
			</ul>
			<div class="seach-form col-md-12">
				<form>
				<?php if($action_name == 'index') { ?>
					<a class="create-workflow-btn btn btn-default btn-block" data-toggle="modal"  href="<?=BASE_URI?>admin/create_workflow">CREATE WORKFLOW</a>
				<?php } if($action_name == 'userManagement') { ?>
					<a href="<?=BASE_URI?>admin/userManagement/addUser" class="create-workflow-btn btn btn-default btn-block">ADD NEW USER</a>
				<?php } if($action_name == 'groupManagement') { ?>
					<a href="<?=BASE_URI?>admin/groupManagement/createGroup" class="create-workflow-btn btn btn-default btn-block">ADD NEW GROUP</a>
				<?php } ?>
				</form>
			</div>


			<?php } if(($controller_name == 'task') || ($controller_name == 'request')) { ?>
			<ul class="list-group">
				<li>
					<?php
					$overdue = 0;
					$in_progress = 0;
					$all = 0;
					$status = (isset($_GET['status'])) ? $_GET['status'] : 'overdue';
					?>
					<?php if($controller_name == 'task'): ?>
					<?php
                                                $member = Members::find("member_id = '".EMPLOYEE_ID."'");
                                                $member_search = "";
                                                $member_search_approval = "";
                                                foreach($member as $value):
                                                    $member_search_approval = $member_search_approval . " or ra.approver_id = 'TEAM-".$value->group_id."'";
                                                    $member_search = $member_search . " or raa.approver_id = 'TEAM-".$value->group_id."'";
                                                endforeach;
						$counts = EmployeRequest::getReportsByTask(EMPLOYEE_ID,$member_search_approval);
						$all = (sizeof($counts) > 0) ? $counts[0]->total : 0;
						$overdue = (sizeof($counts) > 0) ? $counts[0]->overdue : 0;
						$in_progress = (sizeof($counts) > 0) ? $counts[0]->in_progress : 0;
					?>
					<span>My Tasks</span>
					<?php endif; ?>
					<?php if($controller_name == 'request') : ?>
					<?php
						$counts = EmployeRequest::getReportsByRequestorId(EMPLOYEE_ID);
						$all = (sizeof($counts) > 0) ? $counts[0]->total : 0;
						$overdue = (sizeof($counts) > 0) ? $counts[0]->overdue : 0;
						$in_progress = (sizeof($counts) > 0) ? $counts[0]->in_progress : 0;

					?>
					<span>My Requests</span>

					<?php endif; ?>
				</li>

				<li>

					<a  class="<?php if($status=='overdue') echo 'active';?> list-group-item" href="<?=BASE_URI.$controller_name.'?status=overdue'?>">
						<span><img class="svg" src="<?=BASE_URI?>img/icons/icon-overdue.svg" height="15" width="15"></span>
						Overdue<span class="pull-right label label-danger"><?=$overdue?></span>
					</a>
		
				</li>
				<li>

					<a  class="<?php if($status=='in-progress') echo 'active';?> list-group-item" href="<?=BASE_URI.$controller_name.'?status=in-progress'?>">
						<span><img class="svg" src="<?=BASE_URI?>img/icons/icon-inprogress.svg" height="15" width="15"></span>
						In-Progress<span class="pull-right label label-primary"><?=$in_progress?></span>
					</a>
			
				</li>
				<li>
			
					<a  href="<?=BASE_URI.$controller_name.'?status=all'?>" class="<?php if($status=='all') echo 'active';?> overall list-group-item">
						<span><img class="svg" src="<?=BASE_URI?>img/icons/icon-all.svg" height="15" width="15"></span>
						All<span class="pull-right label "><?=$all?></span>
					</a>
	
				</li>
	
			</ul>
			<?php if(($controller_name == 'request') && (($action_name == 'index') || ($action_name == 'initiate')) ) { ?>
			<div class="seach-form col-md-12" style="margin-top:20px;">
				<form>
				
					<a href="<?=BASE_URI?>request/initiate" class="create-workflow-btn btn btn-default btn-block">INITIATE REQUEST</a>
		
				</form>
			</div>
			<?php } } ?>
<!-- 			<div class="seach-form col-md-12">
				<form>
					<span style="color:#AAAAAA;font-size:12px;">Search My Requests</span>
				    <div class="input-group input-group-sm" style="padding:13px 0;">
				      <input type="text" class="form-control" style="color:#AAAAAA;" placeholder="Type Keyword here">
				      <span class="input-group-btn">
				        <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
				      </span>
				    </div>
				</form>
			</div> -->
		</div>



	</div>
	<div class="sidebar-footer">
	<div class="col-md-12">
		<div class="footer-content col-md-12">
			<h5 style="color:#AEAEAE;margin:3px 0;font-size:12px;font-weight:300;">User Profile</h5>
			<h5 class="name" style="color:#AEAEAE;margin:3px 0;font-size:12px;font-weight:500;"><strong><?=FIRST_NAME?> <?=LAST_NAME?></strong></h5>
			<h5 style="color:#AEAEAE;margin:3px 0;font-size:12px;font-weight:400;"><?=DESIGNATION?></h5>
			<h5 style="color:#AEAEAE;margin:3px 0;font-size:12px;font-weight:400;">Makati City</h5>
			<p style="margin:0;font-weight:400;font-size: 10px;color: #AEAEAE;"><?=EMAIL?></p>
		</div>
		<div class="footer-content col-md-12">
			<h5 style="color:#AEAEAE;margin:3px 0;font-size:12px;font-weight:300;">Latest User Logs</h5>
			<?php $logs = $this->session->get('logs'); ?>
			<?php foreach($logs as $log): ?>
			<p style="font-weight:400;font-size: 10px;color:#AEAEAE;line-height:15px;"><?=$this->helper->convertToDate($log->date_login,'m/d/y h:i:s A');?></p>
			<?php endforeach; ?>
			
		</div>
	</div>
	</div>
</div>
