<div id="frmFieldsContainer" class="col-lg-12" style="padding:0;">

<!--  <div class="col-lg-12 added-form form-group">
  	<div class="wizard-content">
	  	<div class="col-sm-8" style="padding:0 0 10px 0;">
		    <label for="inputEmail3" class="col-sm-3 control-label">First Label One<span class="text-danger">*</span></label>
		    <div class="col-sm-9"  >
		      <input type="text" class="form-control" id="inputEmail3">
		    </div>
	  	</div>
	 	<div class="col-sm-4" style="padding-right:0;">
			<button class="pull-right btn btn-default" style="margin-left: 5px;">Delete</button>
	 		<button class="pull-right btn btn-default">Edit</button>
	 	</div>
  	</div>
  </div>

  <div class="col-lg-12 added-form form-group">
  	<div class="wizard-content">	
	  	<div class="col-sm-8" style="padding:0 0 10px 0;">
		    <label for="inputEmail3" class="col-sm-3 control-label">First Label One<span class="text-danger">*</span></label>
		    <div class="col-sm-9"  >
		      <input type="text" class="form-control" id="inputEmail3">
		    </div>
	  	</div>
	 	<div class="col-sm-4" style="padding-right:0;">
			<button class="pull-right btn btn-default" style="margin-left: 5px;">Delete</button>
	 		<button class="pull-right btn btn-default">Edit</button>
	 	</div>
  	</div>
  </div> -->
</div> 


<table class="wizard-add">
	<thead id="tblFieldsContainer">

	</thead>
</table>




<!-- <table class="wizard-add">
	<thead id="">
		<tr style="border:0;">
			<th class="text-center" style="padding:10px;background:#F5F5F5;">
				<label>Label 1 <span class="text-danger">*</span></label>
				<select id="list-1" class="form-control" style="width:30%;display:inline;">
					<option id="ip">No List Yet</option>
				</select>
				<input id="addlist" type="text" class="form-control input-sm" placeholder="Type & Hit ENTER to save" style="display:inline;width:30%;margin:0 auto;border-radius:0">
			</th>			
		</tr>


	</thead>
</table> -->
