<div class="wizard-content col-lg-8">
  <div class="col-lg-12 form-group">
    <label for="inputEmail3" class="col-sm-3 control-label">Workflow Name <span class="text-danger">*</span></label>
    <div class="col-sm-9"  >
      <input id="searchtags" type="text" class="form-control gene_required" id="inputEmail3">
    </div>
  </div>

  <div class="col-lg-12 form-group">
    <label for="inputEmail3" class="col-sm-3 control-label">Description</label>
    <div class="col-sm-9" >
      <textarea id="workflow_description" class="form-control"></textarea>
    </div>
  </div>

  <div class="col-lg-12 form-group">
    <label for="inputEmail3" class="col-sm-3 control-label">Category <span class="text-danger">*</span></label>
    <div class="ui-widget col-sm-9"  >
      <select id="category_id" name="category_id" class="form-control">
        <?php foreach($categories as $category): ?>
      	<option value="<?=$category->category_id?>"><?=$category->name?></option>
        <?php endforeach; ?>
      </select>
    </div>
    
  </div>
</div>