
  <div id="create_workflow" class="bs-example">
      <div class="panel-group" id="accordion">
          <div class="panel panel-default panel-workflow ">
              <div class="panel-heading">
                  <h4 class="panel-title">
                      <a href="#collapseOne">WORKFLOW DETAILS</a>

                      <span id="collapse1" href="#collapseOne"  class="pull-right hidden" role="button" data-toggle="collapse" data-parent="#accordion"  aria-expanded="true" aria-controls="collapse1" class="pull-right">
                        <small>Expand</small><i class="fa  fa-caret-down" style="color:red;margin-left:5px;"></i>
                      </span>
                  </h4>
              </div>
              <div id="collapseOne" class="panel-collapse in">
                  <div class="panel-body">
                    <fieldset id="step_1">
                      <?php $this->partial('edit_workflow/details'); ?>
                    </fieldset>
                    <p class="button-wizard">
                     
                    </p>
                  </div>
              </div>
          </div>

          <div class="panel panel-default panel-workflow">
              <div class="panel-heading">
                  <h4 class="panel-title">
                      <a href="#collapseTwo">FORM DESIGN</a>

                      <span id="collapse2" href="#collapseTwo"  class="pull-right hidden" role="button" data-toggle="collapse" data-parent="#accordion"  aria-expanded="true" aria-controls="collapse1" class="pull-right">
                        <small>Expand</small><i class="fa  fa-caret-down" style="color:red;margin-left:5px;"></i>
                      </span>

                  </h4>
              </div>
              <div id="collapseTwo" class="panel-collapse">
                  <div class="panel-body">
                    <fieldset id="step_2">
                      <?php $this->partial('edit_workflow/design'); ?>
                    </fieldset>
                    <p class="button-wizard">
                    </p>
                  </div>
              </div>
          </div>

          <div class="panel panel-default panel-workflow">
              <div class="panel-heading">
                  <h4 class="panel-title">
                      <a href="#collapseThree">SET APPROVERS</a>

                      <span id="collapse3" href="#collapseThree"  class="pull-right hidden" role="button" data-toggle="collapse" data-parent="#accordion"  aria-expanded="true" aria-controls="collapse1" class="pull-right">
                        <small>Expand</small><i class="fa  fa-caret-down" style="color:red;margin-left:5px;"></i>
                      </span>
                  </h4>
              </div>
              <div id="collapseThree" class="panel-collapse">
                  <div class="panel-body">
                    <fieldset id="step_3">
                      <?php $this->partial('edit_workflow/approvers'); ?>
                    </fieldset>
                    <p class="button-wizard">
                    
                    </p>                  
                  </div>
              </div>
          </div>
          <div class="panel panel-default panel-workflow">
              <div class="panel-heading">
                  <h4 class="panel-title">
                      <a href="#collapseFour">SET ACTIVITIES</a>
                      <span id="collapse4" href="#collapseFour"  class="pull-right hidden" role="button" data-toggle="collapse" data-parent="#accordion"  aria-expanded="true" aria-controls="collapse1" class="pull-right">
                        <small>Expand</small><i class="fa  fa-caret-down" style="color:red;margin-left:5px;"></i>
                      </span>
                  </h4>
              </div>
              <div id="collapseFour" class="panel-collapse">
                  <div class="panel-body">
                    <fieldset id="step_4">
                      <?php $this->partial('edit_workflow/activities'); ?>
                    </fieldset>
                    <p class="button-wizard">
                   
                    </p>                   
                  </div>
              </div>
          </div>

      </div>

      <div class="pull-right" style="padding-right:30px;">

          <button id="btnNext" class="pull-right  btn btnf-f btn-success" style="margin-left: 15px ! important;">NEXT</button>
        <button id="btnAddApprover" class="pull-right btn add btnf-f btn-default hidden">
                      <span class="fa-stack">
                      <i class="fa fa-circle fa-stack-2x"></i>
                      <i class="fa fa-plus fa-stack-1x fa-inverse"></i>
                    </span>Add Approver
        </button>
        <button id="btnSkip" class="pull-right next btn btnf-f btn-success hidden" style="margin-left: 15px;">SKIP</button>
                   
          <button id="btnAddActivity" class="pull-right btn add btnf-f btn-default hidden">
                      <span class="fa-stack">
                      <i class="fa fa-circle fa-stack-2x"></i>
                      <i class="fa fa-plus fa-stack-1x fa-inverse"></i>
                    </span>Add Activity
          </button>

          <button id="btnAddAnotherField" class="pull-right btn add btnf-f btn-default hidden">
              <span class="fa-stack">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-plus fa-stack-1x fa-inverse"></i>
            </span>Add Another Field
          </button>
          <button  onclick="saveWorkflow()" class="pull-right next btn btnf-f btn-success hidden" style="margin-left: 15px;">Done</button>
      </div>

  </div>
<?php $this->partial('common/success_modal'); ?>
