<!--duplicate copy-->
<div id="publish_workflow" class="hidden">

  <div class="panel panel-default" style="border:0;margin:0;">
    <div class="panel-heading panel-head" style="padding:10px 30px;background:#fff;">
          <label>Publish Workflow for <span id="WORKFLOW_NAME"></span></label>
    </div>
    <div class="panel-heading" style="padding:10px 30px;">
      <h5 style="margin:0;">WORKFLOW DETAILS
      </h5>
    </div>
    <div class="panel-body" style="padding:10px 0 0 0;">
      <table class="table table-new">
        <tbody>
          <tr style="border-bottom:0 !important;">
            <td class="col-sm-3" style="padding: 0 0 0 30px ! important; font-size: 13px; font-weight: 400 ! important;">Request Department</td>
            <td id="WORKFLOW_CATEGORY" id="" class="col-sm-9" style="padding: 0px ! important; font-size: 13px; font-weight: 500 ! important;"></td>
          </tr>
          <tr>
            <td class="col-sm-3" style="padding: 0 0 10px 30px ! important; font-size: 13px; font-weight: 400 ! important;">Request Type</td>
            <td id="WORKFLOW_NAME" class="col-sm-9" style="padding: 0 0 10px 0 ! important; font-size: 13px; font-weight: 500 ! important;"></td>
          </tr>
          <tr style="border-bottom:0;">
            <td class="col-sm-3" style="padding: 10px 0 0 30px ! important; font-size: 11px; font-weight: 400 ! important;">Description</td>
            <td id="WORKFLOW_DESCRIPTION" class="col-sm-9" style="padding: 10px 30px 0 0 ! important; font-size: 11px; font-weight: 500 ! important;"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="panel panel-default" style="border:0;margin:0;">
    <div class="panel-heading" style="padding:10px 30px;border-top:solid 1px #ddd;">
      <h5 style="margin:0;">REQUIRED FIELDS
      </h5>
    </div>
    <div id="WORKFLOW_FIELDS" class="panel-body" style="padding:10px 30px;">
      
    </div>
  </div>

  <div class="panel panel-default" style="border:0;margin:0;">
    <div class="panel-heading" style="padding:10px 30px;border-top:solid 1px #ddd;">
      <h5 style="margin:0;">TASK FLOW
      </h5>
    </div>
    <div class="panel-body" style="padding:0;">
      <table class="table table-striped" style="margin-bottom:0;">
        <thead>
          <tr>
            <th style="padding-left:30px !important;">Task</th>
            <th>Assigned To</th>
            <th>Turn Around Time</th>
            <th>Task Type</th>
          </tr>
        </thead>

        <tbody id="taskContainer">


      

  

        </tbody>

        <tfoot>
          <tr>
            <td colspan="4"></td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>

  <div class="pre col-md-12">
    <div class="col-md-12" style="padding:0;">
          <div class="form-group">
            <div class="chkbx col-sm-12" style="padding:0;">
              <div class="checkbox">
              <label>
              <input id="tasks" class="chckPermission" name="task" type="checkbox"> This request is allowed to be tagged as <strong>High Priority.</strong>
              </label>
              </div>
            </div>
            <div class="chkbx col-sm-12" style="padding:0;">
              <div class="checkbox">
              <label>
              <input id="request" class="chckPermission" name="request" type="checkbox"> Limited Accessibility
              </label>
              </div>
            </div>
            <div class="chkbx col-sm-12" style="padding:0;">
              <div class="checkbox">
              <label>
              <input id="administrator" class="chckPermission" name="admin" type="checkbox"> Send Advisory
              </label>
              </div>

              <div id="pnlAdminPermission" class="col-lg-12">

                <div class="chkbx col-sm-12" style="padding:0;">
                  <div class="checkbox">
                  <label>
                  <input  class="chckPermission" name="flow_mgt" type="checkbox"> Everybody (all users in system)
                  </label>
                  </div>
                </div>

                <div class="chkbx col-sm-12" style="padding:0;">
                  <div class="checkbox">
                  <label>
                  <input class="chckPermission" name="user_mgt" type="checkbox"> Users assigned in the request only
                  </label>
                  </div>
                </div>
                <div class="chkbx col-sm-12" style="padding:0;">
                  <div class="checkbox">
                  <label>
                  <input class="chckPermission" name="group_mgt" type="checkbox"> Specific team only
                  </label>
                  </div>
                </div>

                <div class="chkbx col-sm-12" style="padding:0;">
                  <div class="checkbox">
                  <label>
                  <input class="chckPermission" name="settings" type="checkbox"> Specific people only
                  </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </div>
  </div>

  <div class="text-center col-md-12" style="margin-top: 30px;padding-bottom:30px">
    <button id="editWorkfloww" class="btn btn-new btn-default">EDIT</button>
    <button id="publishWorkfloww" class="btn btn-new btn-success">PUBLISH</button>
    <button id="discardWorkflow" class="btn btn-new btn-danger">DISCARD</button>
  </div>
</div>