<form id="frmCreateUser" method="post">
	<div class="panel-head col-lg-12">
		<label>ADD NEW USER > <span id="my_full_name"></span></label>
	</div>

	<div class="panel-left col-md-6 col-lg-6">
		<!--<div class="panel-content col-lg-12">
			<div class="form-wizard col-lg-12">
				<div class="media">
					<div class="media-body">
					  <div class="form-group">
					    <label for="id">Employee ID</label>
					    <input type="text" name="employee_id" class="form-control gene_required form-control-1" value="" id="id" >
					  </div>
					</div>
					<div class="media-left media-middle hidden">
							<a class="btn btn-default edit-btn">Save</a>
					</div>
				</div>
				
			</div>
		</div>-->

		<div class="panel-content col-lg-12">
			<div class="form-wizard col-lg-12">
				<div class="media">
					<div class="media-body">
					  <div class="form-group" id="lname_div">
					    <label for="lname">Last Name</label>
					    <input maxlength="45" type="text" name="last_name" class="form-control gene_required form-control-1" id="lname" style="height:25px;width: 350px;">
					  </div>
					</div>
					<!--<div class="media-left media-middle hidden">
							<a class="btn btn-default edit-btn">Save</a>
					</div>-->
				</div>
			</div>
		</div>

		<div class="panel-content col-lg-12">
			<div class="form-wizard col-lg-12">
				<div class="media">
					<div class="media-body">
					  <div class="form-group" id="fname_div">
					    <label for="fname">First Name</label>
					    <input maxlength="45" name="firs_name" type="text" class="form-control gene_required form-control-1" id="fname" style="height:25px;width: 350px;">
					  </div>
					</div>
					<!--<div class="media-left media-middle hidden">
							<a class="btn btn-default edit-btn">Save</a>
					</div>-->
				</div>
			</div>
		</div>

		<div class="panel-content col-lg-12">
			<div class="form-wizard col-lg-12">
				<div class="media">
					<div class="media-body">
					  <div class="form-group" id="mname_div">
					    <label for="mname">Middle Name</label>
					    <input maxlength="45" name="middle_name" type="text" class="form-control gene_required form-control-1"  id="mname" style="height:25px;width: 350px;">
					  </div>
					</div>
					<!--<div class="media-left media-middle hidden">
							<a class="btn btn-default edit-btn">Save</a>
					</div>-->
				</div>
			</div>
		</div>

		<div class="panel-content col-lg-12">
			<div class="form-wizard col-lg-12">
				<div class="media">
					<div class="media-body">
					  <div class="form-group">
					    <label for="position">Designation</label>
					    <select name="designation_id" class="form-control gene_required form-control-1" id="designation" style="height:30px;width: 350px;">
					    	<option></option>
					    <?php foreach($designation as $value): ?>
					    	<option value="<?=$value->designation_id?>"><?=$value->name?></option>
						<?php endforeach; ?>
					    </select>
					  </div>
					</div>
					<!--<div class="media-left media-middle hidden">
							<a class="btn btn-default edit-btn">Save</a>
					</div>-->
				</div>
			</div>
		</div>

		<div class="panel-content col-lg-12">
			<div class="form-wizard col-lg-12">
				<div class="media">
					<div class="media-body">
					  <div class="form-group">
					    <label for="mname">Department</label>
					    <select name="department_id" class="form-control gene_required form-control-1" id="position" style="height:30px;width: 350px;">
					      	<option></option>
					    <?php foreach($departments as $value): ?>
					    	<option value="<?=$value->department_id?>"><?=$value->name?></option>
						<?php endforeach; ?>
					    </select>
					  </div>
					</div>
					<!--<div class="media-left media-middle hidden">
							<a class="btn btn-default edit-btn">Save</a>
					</div>-->
				</div>
			</div>
		</div>

		<div class="panel-content col-lg-12">
			<div class="form-wizard col-lg-12">
				<div class="media">
					<div class="media-body">
					  <div class="form-group">
					    <label for="mname">Location</label>
					    <select name="location_id" class="form-control gene_required form-control-1" id="position" style="height:30px;width: 350px;">
					      	<option></option>
					  	<?php foreach($locations as $value): ?>
					    	<option value="<?=$value->location_id?>"><?=$value->name?></option>
						<?php endforeach; ?>
					    </select>
					  </div>
					</div>
					<!--<div class="media-left media-middle hidden">
							<a class="btn btn-default edit-btn">Save</a>
					</div>-->
				</div>
			</div>
		</div>

		<div class="panel-content col-lg-12">
			<div class="form-wizard col-lg-12">
				<div class="media">
					<div class="media-body" id="email_div">
					  <div class="form-group">
					    <label for="email">Email Address</label>
					    <input maxlength="45" type="email" name="email" class="form-control gene_required form-control-1" id="email" style="height:25px;width: 350px;">
					  </div>
					</div>
					<!--<div class="media-left media-middle hidden">
							<a class="btn btn-default edit-btn">Save</a>
					</div>-->
				</div>
			</div>
		</div>

		<!--<div class="panel-content col-lg-12">
			<div class="form-wizard col-lg-12">
				<div class="media">
					<div class="media-body">
					  <div class="form-group">
					    <label for="contact">Mobile Number</label>
					    <input type="text" name="contact_num" class="form-control gene_required form-control-1" id="contact" >
					  </div>
					</div>
					<div class="media-left media-middle hidden">
							<a class="btn btn-default edit-btn">Save</a>
					</div>
				</div>
			</div>
		</div>-->
		

	</div>
	<div class="panel-right col-md-6 col-lg-6" style="padding-right:0;padding-left:30px;margin-bottom:60px;">
		<div class="panel panel-admin">
			<div class="panel-heading" style="border-bottom:solid 1px #979797">
				<h4 style="font-size: 14px;font-weight: 500;">CONFIGURE PERMISSIONS</h4>
			</div>
			<div class="panel-body" id="permission-checkbox">
				<div class="form-group">
					<div class="chkbx col-sm-12">
						<div class="checkbox">
						<label>
						<input id="tasks" class="chckPermission" name="task" type="checkbox"> Tasks
						</label>
						</div>
					</div>
					<div class="chkbx col-sm-12">
						<div class="checkbox">
						<label>
						<input id="request" class="chckPermission" name="request" type="checkbox"> Requests
						</label>
						</div>
					</div>
					<div class="chkbx col-sm-12">
						<div class="checkbox">
						<label>
						<input id="administrator" class="chckPermission" name="admin" type="checkbox"> Administrator
						</label>
						</div>

						<div id="pnlAdminPermission" class="col-lg-12">

							<div class="chkbx col-sm-12">
								<div class="checkbox">
								<label>
								<input  id="flow_mgt" class="chckPermission" name="flow_mgt" type="checkbox"> Workflow Management
								</label>
								</div>
							</div>

							<div class="chkbx col-sm-12">
								<div class="checkbox">
								<label>
								<input id="user_mgt" class="chckPermission" name="user_mgt" type="checkbox"> User Management
								</label>
								</div>
							</div>
							<div class="chkbx col-sm-12">
								<div class="checkbox">
								<label>
								<input id="group_mgt" class="chckPermission" name="group_mgt" type="checkbox"> Groups Management
								</label>
								</div>
							</div>

							<div class="chkbx col-sm-12">
								<div class="checkbox">
								<label>
								<input id="settings" class="chckPermission" name="settings" type="checkbox"> Settings
								</label>
								</div>
							</div>
						</div>
					</div>
					<div class="chkbx col-sm-12">
						<div class="checkbox">
						<label>
						<input id="reports" class="chckPermission" name="reports" type="checkbox"> Reports
						</label>
						</div>
					</div>
				</div>
			</div>
<!-- 			<div class="panel-footer">
				<h4>LOGS</h4>
				<table>
					<tr>
						<th>Date & Time Created</th>
						<td>mm/dd/yy  hh:mm:am</td>
					</tr>
					<tr>
						<th>Date & Time Last Updated</th>
						<td>mm/dd/yy  hh:mm:am</td>
					</tr>
				</table>
			</div> -->
		</div>

		<div class="text-center col-lg-12" style="margin-top:40px;">
			<button type="submit" class="btn btnf-f btn-success">SAVE</button>
			<a href="<?=BASE_URI?>admin/userManagement" class="btn btnf-f btn-default">CANCEL</a>
		</div>
	</div>
</form>

