
  <div id="create_workflow" class="bs-example">
      <div class="panel-group" id="accordion">
          <div class="panel panel-default panel-workflow ">
              <div class="panel-heading">
                  <h4 class="panel-title">
                      <a id="refOne" href="#collapseOne">WORKFLOW DETAILS</a>

<!--                      <span id="collapse1" href="#collapseOne"  class="pull-right hidden" role="button" data-toggle="collapse" data-parent="#accordion"  aria-expanded="true" aria-controls="collapse1" class="pull-right">
                        <small>Expand</small><i class="fa  fa-caret-down" style="color:red;margin-left:5px;"></i>
                      </span>-->
                  </h4>
              </div>
              <div id="collapseOne" class="panel-collapse collapse in">
                  <div class="panel-body">
                    <fieldset id="step_1">
                      <?php $this->partial('workflowcreate/details'); ?>
                    </fieldset>
                    <p class="button-wizard">
                     
                    </p>
                  </div>
              </div>
          </div>

          <div class="panel panel-default panel-workflow  hidden">
              <div class="panel-heading">
                  <h4 class="panel-title">
                      <a href="#collapseTwo">FORM DESIGN</a>

<!--                      <span id="collapse2" href="#collapseTwo"  class="pull-right hidden" role="button" data-toggle="collapse" data-parent="#accordion"  aria-expanded="true" aria-controls="collapse1" class="pull-right">
                        <small>Expand</small><i class="fa  fa-caret-down" style="color:red;margin-left:5px;"></i>
                      </span>-->

                  </h4>
              </div>
              <div id="collapseTwo" class="panel-collapse collapse">
                  <div class="panel-body">
                      <button id="btnAddAnotherField" class="btn add btnf-f btn-default hidden" style="margin: 10px 0px 10px 30px;">
                          <span class="fa-stack">
                              <i class="fa fa-circle fa-stack-2x"></i>
                              <i class="fa fa-plus fa-stack-1x fa-inverse"></i>
                          </span>Add a Field
                      </button>                      
                    <fieldset id="step_2">
                      <?php $this->partial('workflowcreate/design'); ?>
                    </fieldset>
                    <p class="button-wizard">
                    </p>
                  </div>
              </div>
          </div>

          <div class="panel panel-default panel-workflow  hidden">
              <div class="panel-heading">
                  <h4 class="panel-title">
                      <a href="#collapseThree">SET APPROVERS</a>

<!--                      <span id="collapse3" href="#collapseThree"  class="pull-right hidden" role="button" data-toggle="collapse" data-parent="#accordion"  aria-expanded="true" aria-controls="collapse1" class="pull-right">
                        <small>Expand</small><i class="fa  fa-caret-down" style="color:red;margin-left:5px;"></i>
                      </span>-->
                  </h4>
              </div>
              <div id="collapseThree" class="panel-collapse collapse">
                  <div class="panel-body">
                      <button id="btnAddApprover" class="btn add btnf-f btn-default hidden" style="margin: 10px 0px 10px 30px;">
                          <span class="fa-stack">
                              <i class="fa fa-circle fa-stack-2x"></i>
                              <i class="fa fa-plus fa-stack-1x fa-inverse"></i>
                          </span>Add Approver<!--
-->                   </button>                     
                    <fieldset id="step_3">
                      <?php $this->partial('workflowcreate/approvers'); ?>
                    </fieldset>
                    <p class="button-wizard">
                    
                    </p>                  
                  </div>
              </div>
          </div>
          <div class="panel panel-default panel-workflow  hidden">
              <div class="panel-heading">
                  <h4 class="panel-title">
                      <a href="#collapseFour">SET ACTIVITIES</a>
<!--                      <span id="collapse4" href="#collapseFour"  class="pull-right hidden" role="button" data-toggle="collapse" data-parent="#accordion"  aria-expanded="true" aria-controls="collapse1" class="pull-right">
                        <small>Expand</small><i class="fa  fa-caret-down" style="color:red;margin-left:5px;"></i>
                      </span>-->
                  </h4>
              </div>
              <div id="collapseFour" class="panel-collapse collapse">
                  <div class="panel-body">
                      <button id="btnAddActivity" class="btn add btnf-f btn-default hidden" style="margin: 10px 0px 10px 30px;">
                          <span class="fa-stack">
                              <i class="fa fa-circle fa-stack-2x"></i>
                              <i class="fa fa-plus fa-stack-1x fa-inverse"></i>
                          </span>Add Activity
                      </button>                      
                    <fieldset id="step_4">
                      <?php $this->partial('workflowcreate/activities'); ?>
                    </fieldset>
                    <p class="button-wizard">
                   
                    </p>                   
                  </div>
              </div>
          </div>

      </div>

      <div class="" style="padding-right:30px; margin-bottom: 100px;">
<!--                      <button id="btnAddAnotherField" class="btn add btnf-f btn-default hidden" style="margin-left: 3.5%;">
                          <span class="fa-stack">
                              <i class="fa fa-circle fa-stack-2x"></i>
                              <i class="fa fa-plus fa-stack-1x fa-inverse"></i>
                          </span>Add a Field
                      </button> 
                      <button id="btnAddApprover" class="btn add btnf-f btn-default hidden" style="margin-left: 3.5%;">
                          <span class="fa-stack">
                              <i class="fa fa-circle fa-stack-2x"></i>
                              <i class="fa fa-plus fa-stack-1x fa-inverse"></i>
                          </span>Add Approver
                      </button>  
                      <button id="btnAddActivity" class="btn add btnf-f btn-default hidden" style="margin-left: 3.5%;">
                          <span class="fa-stack">
                              <i class="fa fa-circle fa-stack-2x"></i>
                              <i class="fa fa-plus fa-stack-1x fa-inverse"></i>
                          </span>Add Activity
                      </button>            -->
          <button id="btnNext" class="pull-right  btn btnf-f btn-success hidden" style="margin-left: 15px ! important;">NEXT</button>
<!--        <button id="btnAddApprover" class="pull-right btn add btnf-f btn-default hidden">
                      <span class="fa-stack">
                      <i class="fa fa-circle fa-stack-2x"></i>
                      <i class="fa fa-plus fa-stack-1x fa-inverse"></i>
                    </span>Add Approver
        </button>-->
        <button id="btnSkip" class="pull-right next btn btnf-f btn-success hidden" style="margin-left: 15px;">SKIP</button>
                   
<!--          <button id="btnAddActivity" class="pull-right btn add btnf-f btn-default hidden">
                      <span class="fa-stack">
                      <i class="fa fa-circle fa-stack-2x"></i>
                      <i class="fa fa-plus fa-stack-1x fa-inverse"></i>
                    </span>Add Activity
          </button>-->

<!--          <button id="btnAddAnotherField" class="pull-right btn add btnf-f btn-default hidden">
              <span class="fa-stack">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-plus fa-stack-1x fa-inverse"></i>
            </span>Add Another Field
          </button>-->
          <button  onclick="saveWorkflow()" class="pull-right next btn btnf-f btn-success hidden" style="margin-left: 15px;">Done</button>
      </div>

  </div>
<?php $this->partial('common/success_modal'); ?>

<style>
    body, .form-control, button, .btn.btnf-f, .btn-default, .btn.btn-new{font-size: 12px;}
    @media (min-width: 768px) {.col-sm-3{width: 16%;}}
    #tblAddApproversContainer tr td p, #tblFieldsContainer tr td p, #tblAddActivitesContainer tr td p{font-size: 12px !important;}
    .col-sm-3{padding-left: 0px;}
    #tblAddActivitesContainer tr td:nth-child(4), #tblFieldsContainer tr td:nth-child(4) {padding-left: 0px; width: 18%;}
    #chckRequired {margin-left: 13px;}
</style>