<form id="frmEditUser" method="post">
	<input type="hidden" name="original_employee_id" value="<?=$details->employee_id?>">
	<div class="panel-head col-lg-12">
		<label><h6 id="user-label" style="font-size: 14px;font-weight: 500;color: #444;display:inline;">USER DETAILS OF</h6>  <span style="font-size: 14px;font-weight: 500;"><?=strtoupper($details->last_name).', '.strtoupper($details->firs_name)?></span></label>
	</div>

	<div class="panel-left col-md-6 col-lg-6" style="height: 100%">

                <input type="hidden" name="employee_id" id="employee_id" value="<?=$details->employee_id?>"/>
		<div class="panel-content col-lg-12">
			<div class="form-wizard col-lg-12">
				<div class="media">
					<div class="media-body">
					  <div class="form-group" id="lname_div">
					    <label for="lname">Last Name</label>
					    <input maxlength="45" type="text" name="last_name" value="<?=$details->last_name?>" class="form-control gene_required" id="lname" disabled style="height: 25px;width: 350px;">
					  </div>
					</div>
					<!--<div class="media-left media-middle hidden">
							<a class="btn btn-default edit-btn">Edit</a>
					</div>-->
				</div>
			</div>
		</div>

		<div class="panel-content col-lg-12">
			<div class="form-wizard col-lg-12">
				<div class="media">
					<div class="media-body">
					  <div class="form-group" id="fname_div">
					    <label for="fname">First Name</label>
					    <input maxlength="45" name="firs_name" type="text" value="<?=$details->firs_name?>"  class="form-control gene_required" id="fname" disabled style="height: 25px;width: 350px;">
					  </div>
					</div>
					<!--<div class="media-left media-middle hidden">
							<a class="btn btn-default edit-btn">Edit</a>
					</div>-->
				</div>
			</div>
		</div>

		<div class="panel-content col-lg-12">
			<div class="form-wizard col-lg-12">
				<div class="media">
					<div class="media-body">
					  <div class="form-group" id="mname_div">
					    <label for="mname">Middle Name</label>
					    <input maxlength="45" name="middle_name" type="text" value="<?=$details->middle_name?>"  class="form-control gene_required"  id="mname" disabled style="height: 25px;width: 350px;">
					  </div>
					</div>
					<!--<div class="media-left media-middle hidden">
							<a class="btn btn-default edit-btn">Edit</a>
					</div>-->
				</div>
			</div>
		</div>

		<div class="panel-content col-lg-12">
			<div class="form-wizard col-lg-12">
				<div class="media">
					<div class="media-body">
					  <div class="form-group">
					    <label for="position">Designation</label>
					    <select name="designation_id" class="form-control gene_required" id="designation" disabled style="height: 30px;width: 350px;">
					    	<option></option>
					    <?php foreach($designation as $value): ?>
					    	<option <?php if($value->designation_id == $details->designation_id) echo 'selected'; ?> value="<?=$value->designation_id?>"><?=$value->name?></option>
						<?php endforeach; ?>
					    </select>
					  </div>
					</div>
					<!--<div class="media-left media-middle hidden">
							<a class="btn btn-default edit-btn">Edit</a>
					</div>-->
				</div>
			</div>
		</div>

		<div class="panel-content col-lg-12">
			<div class="form-wizard col-lg-12">
				<div class="media">
					<div class="media-body">
					  <div class="form-group">
					    <label for="mname">Department</label>
					    <select name="department_id" class="form-control gene_required" id="position" disabled style="height: 30px;width: 350px;">
					      	<option></option>
					    <?php foreach($departments as $value): ?>
					    	<option <?php if($value->department_id == $details->department_id) echo 'selected'; ?> value="<?=$value->department_id?>"><?=$value->name?></option>
						<?php endforeach; ?>
					    </select>
					  </div>
					</div>
					<!--<div class="media-left media-middle hidden">
							<a class="btn btn-default edit-btn">Edit</a>
					</div>-->
				</div>
			</div>
		</div>

		<div class="panel-content col-lg-12">
			<div class="form-wizard col-lg-12">
				<div class="media">
					<div class="media-body">
					  <div class="form-group">
					    <label for="mname">Location</label>
					    <select name="location_id" class="form-control gene_required" id="position" disabled style="height: 30px;width: 350px;">
					      	<option></option>
					  	<?php foreach($locations as $value): ?>
					    	<option  <?php if($value->location_id == $details->location_id) echo 'selected'; ?> value="<?=$value->location_id?>"><?=$value->name?></option>
						<?php endforeach; ?>
					    </select>
					  </div>
					</div>
					<!--<div class="media-left media-middle hidden">
							<a class="btn btn-default edit-btn">Edit</a>
					</div>-->
				</div>
			</div>
		</div>

		<div class="panel-content col-lg-12">
			<div class="form-wizard col-lg-12">
				<div class="media">
					<div class="media-body">
					  <div class="form-group" id="email_div">
					    <label for="email">Email Address</label>
					    <input maxlength="45" type="email" name="email" value="<?=$details->email?>" class="form-control gene_required" id="email" disabled style="height:25px;width: 350px;">
					  </div>
					</div>
					<!--<div class="media-left media-middle hidden">
							<a class="btn btn-default edit-btn">Edit</a>
					</div>-->
				</div>
			</div>
		</div>

	<div class="panel-content col-lg-12">
			<div class="col-lg-12">
                            </br>                            </br>

			</div>
		</div>
		

	</div>
	<div class="panel-right col-md-6 col-lg-6" style="padding-right:0;padding-left:30px;margin-bottom:60px;">
		<div class="panel panel-admin">
			<div class="panel-heading" style="border-bottom:solid 1px #979797">
				<h4 id="edit_user_title" style="font-size: 14px;font-weight: 500;">PERMISSIONS</h4>
			</div>
			<div class="panel-body" id="permission-checkbox">
				<div class="form-group">
					<div class="chkbx col-sm-12">
						<div class="checkbox">
						<label>
						<input <?php if($access->task == 1) echo 'checked'; ?> id="tasks" class="chckPermission" name="task" type="checkbox" disabled> Tasks
						</label>
						</div>
					</div>
					<div class="chkbx col-sm-12">
						<div class="checkbox">
						<label>
						<input <?php if($access->request == 1) echo 'checked'; ?> id="request" class="chckPermission" name="request" type="checkbox" disabled> Requests
						</label>
						</div>
					</div>
					<div class="chkbx col-sm-12">
						<div class="checkbox">
						<label>
						<input <?php if($access->admin == 1) echo 'checked'; ?> id="administrator" class="chckPermission" name="admin" type="checkbox" disabled> Administrator
						</label>
						</div>

						<div id="pnlAdminPermission" class="col-lg-12">

							<div class="chkbx col-sm-12">
								<div class="checkbox">
								<label>
								<input id="flow_mgt" <?php if($access->flow_mgt == 1) echo 'checked'; ?>  class="chckPermission" name="flow_mgt" type="checkbox" disabled> Workflow Management
								</label>
								</div>
							</div>

							<div class="chkbx col-sm-12">
								<div class="checkbox">
								<label>
								<input id="user_mgt" <?php if($access->user_mgt == 1) echo 'checked'; ?> class="chckPermission" name="user_mgt" type="checkbox" disabled> User Management
								</label>
								</div>
							</div>
							<div class="chkbx col-sm-12">
								<div class="checkbox">
								<label>
								<input id="group_mgt" <?php if($access->group_mgt == 1) echo 'checked'; ?> class="chckPermission" name="group_mgt" type="checkbox" disabled> Groups Management
								</label>
								</div>
							</div>

							<div class="chkbx col-sm-12">
								<div class="checkbox">
								<label>
								<input id="settings" <?php if($access->settings == 1) echo 'checked'; ?> class="chckPermission" name="settings" type="checkbox" disabled> Settings
								</label>
								</div>
							</div>
						</div>
					</div>
					<div class="chkbx col-sm-12">
						<div class="checkbox">
						<label>
						<input id="reports" <?php if($access->reports == 1) echo 'checked'; ?> class="chckPermission" name="reports" type="checkbox" disabled> Reports
						</label>
						</div>
					</div>
				</div>
			</div>
			<div class="panel-footer">
                            
				<h4 style="font-size: 14px;font-weight: 500;">LOGS</h4>
				<table>
					<tr>
						<th>Date & Time Created</th>
						<td><?=$this->helper->convertToDate($details->date_created,'m/d/y h:i:s A');?></td>
					</tr>
					<tr>
						<th>Date & Time Last Updated</th>
						<td><?=$this->helper->convertToDate($details->date_updated,'m/d/y h:i:s A');?></td>
					</tr>
				</table>
			</div>
		</div>

		<div class="text-center col-lg-12" style="margin-top:40px;">
			<a id="edituser" class="btn btnf-f btn-success">EDIT</a>
			<button id="saveuser" type="submit" class="btn btnf-f btn-success hidden">SAVE</button>
			<a id="btnDeleteUser" class="btn btnf-f btn-default btnDeleteUserClass" employee-id="<?php echo $details->employee_id;?>" first-name="<?php echo $details->firs_name;?>" last-name="<?php echo $details->last_name;?>">DELETE USER</a>
                        <a id="btnCancelUser" href="<?=BASE_URI?>admin/userManagement" class="btn btnf-f btn-default">CANCEL</a>
                        <a id="btnResetPassword"  class="btn btnf-f btn-default btnResetPasswordClass" style="width: 174px;" employee-id="<?php echo $details->employee_id;?>" first-name="<?php echo $details->firs_name;?>" last-name="<?php echo $details->last_name;?>">RESET PASSWORD</a>
                        
	</div>
</form>
<?php $this->partial('common/delete_user_modal'); ?>
<?php $this->partial('common/reset_user_modal'); ?>