<script type="text/javascript" src="https://cdn.datatables.net/r/bs-3.3.5/jqc-1.11.3,dt-1.10.8/datatables.min.js"></script>
<link rel="stylesheet" type="text/css" href="<?=BASE_URI?>css/datatables.min.css"/>
<script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
                                //$('#userlist').DataTable();
        $('#grouplist').dataTable({
            paginate: false,
            searching: false,
            
        });
    });
</script>
<div>
    <table id="grouplist" class="table table-new table-condensed">
        <thead>
          <tr>
            <th style="width: 10%;font-size: 10px;" >Last Updated<!--<span class="caret">--></span></th>
            <!--<th style="width: 10%;">Employee ID<span class="caret"></span></th>-->
            <th style="width: 11%;font-size: 10px;">Group Name<!--<span class="caret">--></span></th>
            <th style="width: 10%;font-size: 10px;">Members<!--<span class="caret">--></span></th>
          </tr>
        </thead>   
        <?php foreach($group_data as $group): ?>
        
        <tr  onclick="document.location = '<?=BASE_URI?>admin/groupManagement?group_id=<?=$group->group_id?>'" style="cursor:pointer;">
            <td <?php if($group_id == $group->group_id) echo 'style="background:#444444;color:#ffffff;"';?>><?=$this->helper->convertToDate($group->date_updated,'m/d/y')?></td>
            <td  <?php if($group_id == $group->group_id) echo 'style="background:#444444;color:#ffffff;"';?>><?=ucwords($group->name)?></td>
            <td  <?php if($group_id == $group->group_id) echo 'style="background:#444444;color:#ffffff;"';?>><?=$group->total_members?></td>
        </tr>
        
        <?php endforeach; ?>
    </table>
    
</div>
  <form id="frmEditGroup" class="frmEditGroup" method="get" action="<?=BASE_URI?>admin/groupManagement?group_id=<?=$group->group_id?>">
      <input id="employee_id" type="hidden" name="employee_id"> 

  </form>
<style type="text/css">
  .tab_contents{
      height: 100% !important;
  }
</style>