<form id="frmInitiateRequest" type="post" class="form-panel">
  <div style="">

    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

      <div class="panel panel-default panel-accordion" style="border-left:0;border-right:0;">
        <div class="panel-heading" role="tab" style="padding: 10px 30px;" id="heading1">
          <h4 class="panel-title">

            <a role="button" data-toggle=" "  href="#collapse1" aria-expanded="true" aria-controls="collapse1">
              CHOOSE REQUEST
            </a>
            <span role="button" data-toggle="collapse"  href="#collapse1" aria-expanded="true" aria-controls="collapse1" class="pull-right"><small>Collapse</small><i class="fa  fa-caret-up" style="color:red;margin-left:5px;"></i></span>
          </h4>
        </div>
        <div id="collapse1" class="panel-collapse" role="tabpanel" aria-labelledby="heading1">
          <div class="text-center panel-body" style="padding: 15px 0;">
            <fieldset>
 
              <div class="col-lg-7" style="padding-top: 10px; padding-bottom: 10px; padding-left: 0px;">
                
       
                <div class="form-group col-md-12" style="padding-left: 0px ! important; ">
                    <label for="" class="col-sm-3 control-label left-label" style="color: #454444; font-family:'Fira Sans'; font-weight:400; font-size: 12px;">Request Department<span class="text-danger">*</span></label>
                    <div class="col-sm-9" style="padding:0;">
                    <select id="cboDepartment" name="category_id" class="form-control">
                      <option></option>
                      <?php foreach($departments as $value): ?>
                          <option value="<?=$value->department_id?>"><?=$value->name?></option>
                      <?php endforeach; ?>
                    </select>
                  </div>
                </div>


                <div class="form-group col-md-12" style="padding-left: 0px ! important;">
                    <label for="" class="col-sm-3 control-label left-label" style="color: #454444; font-family:'Fira Sans'; font-weight:400; font-size: 12px;">Request Type<span class="text-danger">*</span></label>
                    <div class="col-sm-9" style="padding:0;">
                    <select id="cboWorkflows" class="form-control">
                      <option></option>
                    </select>
                  </div>
                </div>

              </div>

              <div id="loader" class="col-sm-12 hidden" style="text-center">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-spinner fa-stack-1x fa-inverse fa-pulse"></i>
                </span>
              </div>

            </fieldset>
          </div>
        </div>
      </div>

      <div id="pnlRequestDetails" class="panel panel-default panel-accordion collapse" style="border-left:0;border-right:0;">
        <div class="panel-heading" role="tab" style="padding: 10px 30px;" id="heading2">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse"  href="#collapse2" aria-expanded="false" aria-controls="collapse2">
              REQUEST DETAILS
            </a>
            <span role="button" data-toggle="collapse"  href="#collapse2" aria-expanded="true" aria-controls="collapseTwo" class="pull-right"><small>Collapse</small><i class="fa  fa-caret-up" style="color:red;margin-left:5px;"></i></span>
          </h4>
        </div>
        <div id="collapse2" class="panel-collapse" role="tabpanel" aria-labelledby="heading2">
          <div class="panel-body">
            <fieldset>

              <div class="col-lg-9" style="padding: 0px ! important;">
                <table>
                  <tr>
                    <td style="text-align: left;padding-bottom: 3px;width: 145px; color: #454444; font-family:'Fira Sans'; font-weight:300; font-size: 12px;">Workflow ID</td>
                    <th id="txtWorkflowId" style="padding-bottom: 3px;"></th>
                  </tr>
                  <tr>
                    <td style="text-align: left;padding-bottom: 3px;width: 145px; color: #454444; font-family:'Fira Sans'; font-weight:300; font-size: 12px;">Request Department</td>
                    <th id="txtWorkflowCategory" style="padding-bottom: 3px;"></th>
                  </tr>
                  <tr>
                    <td style="text-align: left;width: 13%;padding-bottom: 3px;width: 145px; color: #454444; font-family:'Fira Sans'; font-weight:300; font-size: 12px;">Request Type</td>
                    <th id="txtWorkflowName"></th>
                  </tr>
                  <tr>
                    <td style="text-align: left;vertical-align: text-top;padding-top: 20px;width: 145px; color: #454444; font-family:'Fira Sans'; font-weight:400; font-size: 12px;">Description</td>
                    <td id="txtWorkflowDescription" style="padding-top: 20px; color: #454444; font-family:'Fira Sans'; font-weight:400; font-size: 12px;">
                  </td>
                </table>
              </div>
             
            </fieldset>
          </div>
        </div>
      </div>

      <div id="pnlFields" class="panel panel-default panel-accordion collapse" style="border-left:0;border-right:0;">
        <div class="panel-heading" role="tab" style="padding: 10px 30px;" id="heading3">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse"  href="#collapseTwo" aria-expanded="false" aria-controls="collapse3">
              FILL OUT FIELDS
            </a>
            <span role="button" data-toggle="collapse"  href="#collapse3" aria-expanded="true" aria-controls="collapse3" class="pull-right"><small>Collapse</small><i class="fa  fa-caret-up" style="color:red;margin-left:5px;"></i></span>
          </h4>
        </div>
        <div id="collapse3" class="panel-collapse" role="tabpanel" aria-labelledby="heading3">
          <div id="pnlTables" class="panel-body" style="padding:0;">

          </div>
        </div>
      </div>

      <div id="pnlComments" class="panel panel-default panel-accordion collapse" style="border-left:0;border-right:0;">
        <div class="panel-heading" role="tab" style="padding: 10px 30px;" id="heading4">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse"  href="#collapse4" aria-expanded="false" aria-controls="collapse4">
              COMMENTS & DOCUMENTS
            </a>
            <span role="button" data-toggle="collapse"  href="#collapse4" aria-expanded="true" aria-controls="collapse4" class="pull-right"><small>Collapse</small><i class="fa  fa-caret-up" style="color:red;margin-left:5px;"></i></span>
          </h4>
        </div>
        <div id="collapse4" class="panel-collapse" role="tabpanel" aria-labelledby="heading4">
          <div class="text-center panel-body">
            <fieldset>

              <div class="col-lg-9" style="padding:10px 0;">

                <div class="form-group col-md-12" style="padding-left: 0 !important;">
                    <div class="col-sm-12" style="padding:0; padding-left: 19%;">
                      <textarea id="txtComments" class="form-control" placeholder="Write your comments here"></textarea>
                  </div>
                </div>

                <div class="col-lg-12" style="padding-left: 18.5% !important; text-align: left; ">
<!--                  <button class="pull-left btn btn-default" style="font-size:12px;"><i style="margin-right:5px;" class="fa fa-paperclip fa-flip-vertical"></i>Attach Documents</button>-->
                      <input id="file-select-initiate" type="file" class="filestyle" data-input="false" data-buttonText="Attach Documents" data-iconName="fa fa-paperclip fa-flip-vertical" style="display:inline;">
                  <div class="pull-right">
                    <button id="initiate-request" class="btn btnf-f btn-success">INITIATE</button>
                    <a href="<?=BASE_URI?>request" class="btn btnf-f btn-default">CANCEL</a>
                  </div>
                </div>

              </div>
             
            </fieldset>
          </div>
        </div>
      </div>


    </div>

  </div>

</form>