<form id="frmSearchReports" class="form-inline" method="post">

    <div class="form-group" style="padding: 20px 0 20px 15px;">
        <label for="" style="font-size: 12px; font-weight: 400; margin-right: 25px; color: #f26426;">Set Filters</label>

    </div>
    <div class="form-group" style="padding: 20px 15px;">
        <label for="" style="font-size: 12px;font-weight: 400;color: #454444;margin-right: 5px;">Workflow Name</label>
        <select name="workflow_name" class="form-control" style="border-radius: 3px;height: 40px;width: 300px;">
            <option value="0">All</option>  
            <?php $workflowname = RefWorkflow::find("department_id=" . DEPT_ID);
            foreach ($workflowname as $value):
                ?>
                <option  <?php if ($wfid == $value->workflow_id) echo 'selected'; ?> value="<?= $value->workflow_id ?>"><?= $value->name ?></option>
<?php endforeach; ?>
        </select>
    </div>     

    <div class="form-group" style="padding: 20px 15px;">
        <label for="" style="font-size: 12px;font-weight: 400;color: #454444;margin-right: 5px;">Initiator</label>

        <select name="initiator" class="form-control" style="border-radius: 3px;height: 40px;width: 270px;">
            <option value = "0">All</option>
            <?php foreach ($initiator as $value): ?>
                <option <?php if ($initiator_id == $value->employee_id) echo 'selected'; ?> value = "<?= $value->employee_id ?>"><?= $value->fullname ?></option>
<?php endforeach; ?>
        </select>

    </div>
    <div class="form-group" style="padding: 20px 15px;">
        <label for="" style="font-size: 12px;font-weight: 400;color: #454444;margin-right: 5px;">Status</label>
        <select name="status" class="form-control" style="border-radius: 3px;height: 40px;width: 150px;">
            <option <?php if ($status == 0) echo 'selected'; ?> value="0" >All</option>
            <option <?php if ($status == 4) echo 'selected'; ?> value = "4">Overdue</option>
            <option <?php if ($status == 1) echo 'selected'; ?> value = "1">In-Progress</option>
            <option <?php if ($status == 2) echo 'selected'; ?> value = "2">Completed</option>
            <option <?php if ($status == 3) echo 'selected'; ?> value = "3">Rejected</option>
        </select>
    </div>
    <div class="form-group" style="padding: 0px 15px 20px 113px;">
        <label for="" style="font-size: 12px;font-weight: 400;color: #454444;margin-right: 17px;">Date Initiated</label>
        <input name="from" value="<?= $from ?>" type="text" class="form-control" id="from" placeholder="From" style="border-radius: 3px;height: 40px;width:140px;">
    </div>    
    <div class="form-group" style="padding: 0px 15px 20px 1px;">
        <input name="to" value="<?= $to ?>" class="form-control" id="to" placeholder="To" style="border-radius: 3px;height: 40px;width:140px;">
    </div>

    <div class="form-group" style="padding: 0px 15px 20px 1px;">
        <a class="btn btn-default" style="font-size: 12px;font-weight: 500;" href="<?= BASE_URI ?>admin/reports"><i style="margin-right:5px;" class=""></i>CLEAR FILTERS</a> 
    </div>    
</form>
<div class="col-md-12" style="padding-top: 15px;padding-bottom: 15px;border-top: solid 1px #c6c6c6;">
    <div class="orange col-sm-6 col-md-2">
        <h3 class="stat-number"><?= $total_requests ?></h3>
        <p  class="stat-description">Total Requests</p>
    </div>
    <div class="green col-sm-6 col-md-2">
        <h3 class="stat-number"><?= $total_completed ?></h3>
        <p  class="stat-description">Completed Requests</p>
    </div>
    <div class="blue col-sm-6 col-md-2">
        <h3 class="stat-number"><?= $total_in_progress ?></h3>
        <p  class="stat-description">In Progress Requests</p>
    </div>
    <div class="red col-sm-6 col-md-2">
        <h3 class="stat-number"><?= $total_overdue ?></h3>
        <p  class="stat-description">Pending Overdue</p>
    </div>
    <div class="red col-sm-6 col-md-2">
        <h3 class="stat-number"><?= $total_rejected ?></h3>
        <p  class="stat-description">Rejected Requests</p>
    </div>
    <div class="orange col-sm-6 col-md-2">
        <h3 class="stat-number"><?= $avg ?></h3>
        <p  class="stat-description">Average Completion Days</p>
    </div>
</div>


<div class="col-sm-12 table-panel" style="padding:0;" id="reportsDetailContainer">
    <table id="reportlist" class="table table-new table-condensed">
        <thead>
            <tr>
                <th style="width: 10%;font-size: 10px;" >Date Initiated</th>
                <th style="width: 15%;font-size: 10px;" >Reference Number</th>
                <th style="width: 20%;font-size: 10px;" >Request Department</th>
                <th style="width: 15%;font-size: 10px;" >Workflow Name</th>
                <th style="width: 15%;font-size: 10px;" >Initiator</th>
                <th style="width: 15%;font-size: 10px;" >Status</th>
            </tr>
        </thead>
        <tbody>
            <?php foreach ($reports as $report): ?>
                    <tr id="linkViewRequest" request-id="<?=$report->request_id?>"  class="reports_div linkViewRequest" style="cursor:pointer;">
                    <td style="padding-left: 10px;" class="reports_data" data-cols="Date Initiated" data-val="<?= $this->helper->convertToDate($report->date_request, 'm/d/Y') ?>"><?= $this->helper->convertToDate($report->date_request, 'm/d/Y') ?></td>
                    <td style="padding-left: 10px;" class="reports_data" data-cols="Reference Number" data-val="<?= $report->ref_no ?>"><?= $report->ref_no ?></td>
                    <td style="padding-left: 10px;" class="reports_data"  data-cols="Request Department" data-val="<?= $report->category ?>"><?= $report->category ?></td>
                    <td style="padding-left: 10px;" class="reports_data" data-cols="Workflow Name" data-val="<?= $report->workflow ?>"><?= $report->workflow ?></td>
                    <td style="padding-left: 10px;" class="reports_data" data-cols="Initiator" data-val="<?= $report->firs_name . ' ' . $report->last_name ?>"><?= $report->firs_name . ' ' . $report->last_name ?></td>
                    <?php
                    $status_name = '';
                    $class = '';
                    if ($report->status == 2) {
                        $class = 'completed';
                        $status_name = 'Completed';
                    } else if ($report->status == 1) {
                        $total_days_diff = $this->helper->subtractDate(CURR_DATETIME, $report->date_request);
                        if ($total_days_diff > ($report->tat+1)) {
                            $class = 'overdue';
                            $status_name = 'Overdue';
                        } else {
                            $class = 'in-progress';
                            $status_name = 'In-Progress';
                        }
                    } else if ($report->status == 4) {
                        $class = 'overdue';
                        $status_name = 'Cancelled';
                    } else if ($report->status == 3) {
                        $class = 'overdue';
                        $status_name = 'Rejected';
                    }
                    ?>      
                    <td style="padding-left: 10px;" class="reports_data" data-cols="Status" data-val="<?= $status_name ?>">
                        <label class="reports_data span-stat  <?= $class ?>" ><?= $status_name ?></label>
                    </td>            
                </tr>
                
            <?php endforeach; ?>

        </tbody>
    </table>
</div>
