<div>
     <ul class="aside list-group" style="margin-bottom: 0px;">
        <li style="padding:0;border-bottom:solid 1px #E6E6E6;">
        <div class="drop-z dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Sort By <span>
			<?php 
				switch($sort)
				{
					case 0: echo " Request Date";
						break;
					case 1: echo " Priority";
						break;
					case 2: echo " Reference Number";
						break;
					case 3: echo " Request Department";
						break;
					case 4: echo " Request Type";
						break;
					case 5: echo " Age";
						break;
				}
			?>
			</span>
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a class="<?php if ($sort==0) echo 'selected';?>" href="<?=BASE_URI.$controller_name.'?status='.$status.'&sort=0'?>"><i class="fa fa-check"></i> Request Date</a></li>
            <li><a class="<?php if ($sort==1) echo 'selected';?>" href="<?=BASE_URI.$controller_name.'?status='.$status.'&sort=1'?>"><i class="fa fa-check"></i> Priority</a></li>
            <li><a class="<?php if ($sort==2) echo 'selected';?>" href="<?=BASE_URI.$controller_name.'?status='.$status.'&sort=2'?>"><i class="fa fa-check"></i> Reference Number</a></li>
            <li><a class="<?php if ($sort==3) echo 'selected';?>" href="<?=BASE_URI.$controller_name.'?status='.$status.'&sort=3'?>"><i class="fa fa-check"></i> Request Department</a></li>
            <li><a class="<?php if ($sort==4) echo 'selected';?>" href="<?=BASE_URI.$controller_name.'?status='.$status.'&sort=4'?>"><i class="fa fa-check"></i> Request Type</a></li>
            <li><a class="<?php if ($sort==5) echo 'selected';?>" href="<?=BASE_URI.$controller_name.'?status='.$status.'&sort=5'?>"><i class="fa fa-check"></i> Age</a></li>
          </ul>
        </div>

      </li>   
     </ul>
    <ul class="aside list-group" style="height:600px;overflow-y: auto;">
      
      <?php foreach ($requests as $value): ?>
      <?php 
        $class = '';
        if($value->status == 1){
          $class = 'in-progress';
          $total_days_diff = $this->helper->subtractDate(CURR_DATETIME,$value->date_request);
          if($total_days_diff > $value->tat+1){
              $class='overdue';
          }
           

        }

      ?>

        <li class="<?=$class?>">  
          <a href="<?=BASE_URI.$controller_name.'?status='.$status.'&sort='.$sort.'&id='.$value->request_id?>" class="<?php if($value->request_id == $request_id) echo 'active'; ?> list-group-item">
            <p><strong><?=$value->ref_no?></strong><small class="pull-right"><?=$this->helper->convertToDate($value->date_request,'d/m/y')?></small></p>
            <p><?php if($value->RefWorkflow->name == ""){echo $value->request_type;}else{echo $value->RefWorkflow->name;} ?></p>
          </a>
        </li>
      <?php endforeach ; ?>
      
   
    </ul>
</div>