<!--<form id="frmSettings" type="post" class="form-panel">-->
  <div style="">

    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

      <div class="panel panel-default panel-accordion" style="border-left:0;border-right:0;">
        <div class="panel-heading" role="tab" style="padding: 10px 30px;" id="heading1">
          <h4 class="panel-title">
            <a role="button" aria-expanded="true" aria-controls="collapse1" style="text-decoration: none;cursor: text;">
              BUSINESS HOLIDAYS
            </a>
          </h4>
        </div>
        <div id="collapse1" class="panel-collapse" role="tabpanel" aria-labelledby="heading1">
          <div class="panel-body" style="padding:0 !important;">
            <fieldset>
                
             <?php $holidays = RefHoliday::find(array("order" => "holiday_date")); ?>
             <?php foreach($holidays as $holiday): ?>   
              <table class="" style="width:100%; border-bottom-style: solid; border-bottom-color: #e3e3e3; border-bottom-width: 1px;" >
                <tr class="">
                  <td class="col-md-3" style="padding: 10px 0 5px 30px;vertical-align:text-top;">
                    <h5 style="margin-bottom: 2px;"><?=$holiday->holiday_name?></h5>
                    <label><?=$holiday->holiday_date?></label>
                  </td>

                  <td class="text-center col-md-9" style="padding-right: 30px;text-align: right;">
                    <div>
<!--                      <button class="btn btn-default">Edit</button>-->
                      <button hid= "<?=$holiday->hid?>" name="<?=$holiday->holiday_name?>" class="btn btn-default btn-remove-holiday">Delete</button>
                    </div>
                  </td>
                </tr>
              </table>
              <?php endforeach; ?>  
                
              <table style="width:100%;">
                <tfoot>
                  <tr class="tfooter" style="background:#dce7f9;border-top:solid 1px #4085e4;border-bottom:solid 1px #4085e4;">
                    <td class="col-md-4" style="padding: 18px 0px 16px 25px;vertical-align:text-top;">
                      <p style="font-size:13px;"><strong style="font-weight: 500;"> Name of Holiday</strong></p>
                      <input id="holiday_name" name="holiday-name" class="form-control field-required" type="text" placeholder="Input Holiday Name">
                    </td>
                    <td class="col-md-3" style="padding: 18px 0px 16px 25px;vertical-align:text-top;">
                      <p style="font-size:13px;"><strong style="font-weight: 500;padding-right: 10px;"> Set Date</strong></p>
                      <input maxlength="50" name="holiday-date" type="text" id="datepickers" class="form-control field-required" placeholder="mm/dd/yy" style="width: 60%;display: inline;border-top-right-radius: 0;border-bottom-right-radius: 0;padding-top: 3px;">
                    </td>
                    <td class="text-center col-md-5" style="padding-right: 30px;text-align: right;">
                      <button id="btnSaveHoliday" class="btn btn-default">Save</button>
<!--                      <button class="btn btn-default">Cancel</button>-->
                    </td>
                  </tr>
                </tfoot>
              </table>



            </fieldset>
          </div>
        </div>
      </div>

<!--      <div id="" class="panel panel-default panel-accordion" style="border-left:0;border-right:0;border-bottom:0 !important;box-shadow:none;">
        <div class="panel-heading" role="tab" style="padding: 10px 30px;" id="heading2">
          <h4 class="panel-title">
            <a class="collapsed" role="button"  aria-expanded="false" aria-controls="collapse2"  style="text-decoration: none;cursor: text;">
              SESSION TIME-OUT
            </a>
          </h4>
        </div>
        <div id="collapse2" class="panel-collapse" role="tabpanel" aria-labelledby="heading2">
          <div class="panel-body" style="padding:0;">
            <fieldset>

              <table class="" style="width:100%;">
                <tr class="">
                  <td class="col-md-2" style="padding: 15px 0 15px 30px;vertical-align:text-top;">
                    <h5 style="margin-bottom: 2px;">Current Time-out</h5>
                  </td>

                  <td class="col-md-10" style="padding: 15px 0 15px 0;">
                    <div class="pull-left">
                      <input class="spinner" id="spinner" name="value" disabled>
                      <button class="btn btn-default">Edit</button>
                    </div>
                  </td>
                </tr>
              </table>

            </fieldset>
          </div>
        </div>
      </div>-->

    </div>

  </div>

<!--</form>-->

<!--<script type="text/template" id="tplHoliday">
    <div class = "fields-holiday" hid = "{{hid}}">
        <h5>{{holidayname}}</h5>
        <h5>{{date}}</h5>
        <a class="btn btn-default btn-vh-center btn-delete-holiday">Delete</a>
    </div>
</script>-->