<?php 
echo '<script>var autocompletesource = '.$autocompletesource.';</script>';
?>
<input type="hidden" id="request_id" value="<?=$request_id?>"/>

<div style="">
<div class="blocks panel panel-default">
  <div class="blocks-heading panel-heading">
    <?php  
    $total_days_diff = $this->helper->subtractDate(CURR_DATETIME,$request_details->date_request);
    ?>
      
      
    <?php $req_approval1 = RequestApproval::getStartedApproval($request_id); ?>  
    <?php $req_det1 = RequestActivities::getStartedActivities($request_id); ?>  
    <?php
                                    $hiddenOverdue= "";
                            $hiddenProgress = "";
        if(sizeof($req_approval1) > 0) {
               foreach ($req_approval1 as $value1):
                    if($value1->status == 1)
                    {
                        $age1 = $this->helper->subtractDate(CURR_DATETIME,$value1->date_started);
                        if($age1 > $value1->tat)
                        {
                            $hiddenOverdue= "";
                            $hiddenProgress = "hidden";
                        }
                        else
                        {
                            $hiddenOverdue= "hidden";
                            $hiddenProgress = "";                            
                        }
                    }                  
               endforeach;
          }
           if(sizeof($req_det1) > 0)
          {
              foreach ($req_det1 as $value2):
                     if($value2->status == 1)
                    {
                        $age1 = $this->helper->subtractDate(CURR_DATETIME,$value2->date_started);
                        if($age1 > $value2->tat)
                        {
                            $hiddenOverdue= "";
                            $hiddenProgress = "hidden";
                        }
                        else
                        {
                            $hiddenOverdue= "hidden";
                            $hiddenProgress = "";                            
                        }
                    }                  
              endforeach;
          }
    ?>   
      
  
    <label class="label-status label-danger" <?=$hiddenOverdue?>>OVERDUE</label>  
    <label class="label-status  label-primary" <?=$hiddenProgress?>><?= strtoupper($request_details->status_name)?></label>

       
       
       
    <?php 
        $prio = RefWorkflow::findFirst("workflow_id='".$request_details->workflow_id."'");
    ?>
      <?php if($prio->priority == 1){?>
      <label class="label-status label-primary">HIGH PRIORITY</label>
      <?php } ?>

    <a onclick="printContent('overdue')" class="pull-right btn btn-default"><i class="fa  fa-print" style="margin-right:5px;"></i>PRINT</a>
  </div>
    <div class="blocks-content panel-body">

      <table class="table-data">
        <tr>
            <td style="width:12%;"><span class="text-label">Reference Number</span></td>
            <th style="width:20%;"><span class="text-content"><?=$request_details->ref_no?></span></th>

            <td style="width:12%;"><span class="text-label">Date Created</span></td>
            <th  style="width:20%;"><span class="text-content"><?=$this->helper->convertToDate($request_details->date_request,'M d, Y')?></span></th>
        </tr>
        <tr>
            <td style="width:12%;"><span class="text-label">Request Department</span></td>
            <th style="width:20%;"><span class="text-content"><?=$request_details->category?></span></th>

            <td style="width:12%;"><span class="text-label">Requestor Name</span></td>
            <th  style="width:20%;"><span class="text-content"><?=$request_details->firs_name.' '.$request_details->last_name?></span></th>
        </tr>

        <tr>
            <td style="width:12%;"><span class="text-label">Request Type</span></td>
            <th style="width:20%;"><span class="text-content"><?=$request_details->request_type?></span></th>

            <td style="width:12%;"><span class="text-label">Position</span></td>
            <th  style="width:20%;"><span class="text-content"><?=$request_details->designation?></span></th>
        </tr>

      </table>
    </div>
</div>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default panel-accordion">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse"  href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          REQUEST DETAILS
        </a>
        <span role="button" data-toggle="collapse"  href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class="pull-right"><small>Collapse</small><i class="fa  fa-caret-up" style="color:red;margin-left:5px;"></i></span>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
      <h5 style="margin-bottom:0;"><?=$request_details->request_type?> of <?=$request_details->firs_name.' '.$request_details->last_name?></h5>
      <hr style="margin-top:10px;border-color:#000;">
        <div class="col-md-12" style="padding:0;">
          <?php foreach(RequestFields::find(array('conditions' => 'request_id = ?1','bind'=>array(1=>$request_id))) as $value): ?>
            <div class="col-sm-6" style="padding:0;">
              <div class="col-sm-12" style="padding:0;">
                <div class="col-md-5" style="padding-left:0;">
                    
                        <span style="font-weight: 300;font-size: 14px;"><?=$value->label?></span>
                </div>
                <div class="col-md-7" style="padding-left:0;">
                  <span class="text-content"><?=$value->value?></span>
                </div>
              </div>
            </div>
            <br>
          <?php endforeach; ?>
        </div>


      </div>
    </div>
  </div>
  <div class="panel panel-default panel-accordion">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse"  href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          TASK QUEUE
        </a>
        <span role="button" data-toggle="collapse"  href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo" class="pull-right"><small>Collapse</small><i class="fa  fa-caret-up" style="color:red;margin-left:5px;"></i></span>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
    <?php $percentage = ($request_details->total_completed / $request_details->total_tasks) * 100; ?>
      <div class="panel-body" style="padding-bottom:100px;">
        <div class="col-md-12" style="padding:0;">
          <div class="col-md-2" style="padding:0;">
            <label style="font-weight:400;font-size:13px;"> Request Progress</label>
          </div>
          <div class="col-md-10" style="padding-right: 0;">
            <div class="progress" style="text-align:right;">
              <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: <?=$percentage?>%;"></div>
              <a class="text-warning"><?=round($percentage,2)?>%</a>
            </div>            
          </div>
        </div>
<!--     <?php $days_diff = $this->helper->subtractDate(CURR_DATETIME,$request_details->date_request); ?>
    <?php $days_percentage = ($days_diff / $request_details->tat) * 100; ?>        
        <div class="progress" style="text-align:right;">
          <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: <?=$days_percentage?>%;">Running <?=$this->helper->subtractDate(CURR_DATETIME,$request_details->date_request)?> days</div>
          <a class="text-danger"><?=$days_percentage?>%</a>
        </div> -->
       <table class="table table-striped" style="width:100%;">

           <thead>
                <tr style="background:#ACACAC;">
                  <th class="" style="color:#fff;padding:10px 15px;">Task</th>
                  <th class="" style="color:#fff;padding:10px 15px;">Assignee</th>
                  <th class="" style="color:#fff;padding:10px 15px;width:18%;">Date and Time</th>
                  <th class="" style="color:#fff;padding:10px 15px;">TAT</th>
                  <th class="" style="color:#fff;padding:10px 15px;">Age</th>
                  <th class="" style="color:#fff;padding:10px 15px;">Status</th>
                </tr>
           </thead>          
           <tbody>
              <tr>
                <td style="">Initiated</td>
                <td style="">
                <p style="margin-bottom:0;"><?=$request_details->firs_name.' '.$request_details->last_name?></p>
                <p style="margin-top:0;"><small><?=$request_details->designation?></small></p></td>
                <td style="">
                  <p style="margin-bottom:0;"><?=$this->helper->convertToDate($request_details->date_request,'M d, Y')?></p>
                  <p style="margin-top:0;"><small><?=$this->helper->convertToDate($request_details->date_request,'h:i A')?></small></p>
                </td>
                <td style=""></td>
                <td style=""></td>
                <td style="">
                  <p class="status bg-initiated">Initiated</p>
                </td>
              </tr>
               <?php $x  = EmployeRequest::findFirstByRequestId($request_id);?>
            <?php if($x->filename): ?>
              <tr class="comment">
                <td><small>Comments <span><?=$value->date_created?></span></small></td>
                <td colspan="5">
                  <i class="text-warning fa  fa-commenting-o"></i> <i>"<?=$value->comments?>"</i>
                  <?php if(!empty($x->filename)): ?>
                    <i class="text-warning fa  fa-paperclip fa-flip fa-flip-vertical"></i> <small style="text-decoration:underline;text-align:left;cursor:context-menu;">
                    <a href="<?=BASE_URI.'/uploads/requests/'.$x->filename?>" target="_blank">"<?=$x->filename?>"</a></small>
                  <?php endif;?>
                </td>
              </tr> 
            <?php endif;?>              
          <?php $req_approval = RequestApproval::getStartedApproval($request_id); ?>		  
          <?php foreach ($req_approval as $value): ?>
		  <?php $requestEntry = "Approval"; ?>
              <tr>
                <td style=""><?=$value->designation?> Approval</td>
                <td style="">
                <p style="margin-bottom:0;"><?=$value->firs_name.' '.$value->last_name?></p>
                <p style="margin-top:0;"><small><?=$value->designation?></small></p></td>
                <td style="">
                <p style="margin-bottom:0;"><?=$this->helper->convertToDate($value->date_started,'M d, Y')?></p>
                <p style="margin-top:0;"><small><?=$this->helper->convertToDate($value->date_started,'h:i A')?></small></p></td>
                <td style=""><?=$value->tat?> Day/s</td>

                <?php if($value->status == 1): ?>
                    <td style=""><?=$this->helper->subtractDate(CURR_DATETIME,$value->date_started)?> Day/s</td>
                <?php elseif($value->status == 2): ?>
                    <td style=""><?=$this->helper->subtractDate($value->date_approved,$value->date_started)?> Day/s</td>
                <?php endif; ?>    
                <?php $class="bg-success"; if($value->status_name == "Pending"){$class="bg-info";} 
                if($value->status == 1)
                {
                    $age = $this->helper->subtractDate(CURR_DATETIME,$value->date_started);
                    if($age > $value->tat)
                    {
                        $class="bg-danger";
                        $value->status_name = "Overdue";
                    }
                }
                elseif($value->status == 2) {
                    $age = $this->helper->subtractDate($value->date_approved,$value->date_started);
                    if($age > $value->tat)
                    {
                        $class="bg-success";
                        $value->status_name = "Approved";
                    }
                }
                    ?>  
                <td style=""><p class="status <?=$class?>"><?=$value->status_name?></p></td>

              </tr>
            <?php if($value->comments): ?>
              <tr class="comment">
                <td><small>Comments <span><?=$value->date_approved?></span></small></td>
                <td colspan="5">
                  <i class="text-warning fa  fa-commenting-o"></i> <i>"<?=$value->comments?>"</i>
                    <?php if($value->filename): ?>
                        <i class="text-warning fa  fa-paperclip fa-flip fa-flip-vertical"></i> <small style="text-decoration:underline;text-align:left;cursor:context-menu;">
                            <a href="<?=BASE_URI.'/uploads/requests/'.$value->filename?>" target="_blank">"<?=$value->filename?>"</a></small>
                    <?php endif;?>
                </td>
              </tr> 
            <?php endif;?>
         <?php endforeach; ?>
              <?php $ctr=0; ?>
        <?php $req_det = RequestActivities::getStartedActivities($request_id); ?>		
        <?php foreach ($req_det  as $value): ?>
                <?php $ctr++; ?>
		<?php $requestEntry = "Activity"; $activity_name=$value->activity_name; ?>
                <?php $array_id = explode("-",$value->approver_id); 
                       $employee_id_1 = $array_id[0];
                       $employee_id_2 = $array_id[1];
                ?>              
              <tr>
                <td style=""><?=$value->activity_name?></td>
                <td style="">
                <?php if($employee_id_1 == "TEAM"){?>    
                    <p style="margin-bottom:0;"><?=$value->groupname?></p>
                <?php } else {?>  
                    <p style="margin-bottom:0;"><?=$value->firs_name.' '.$value->last_name?></p>
                <?php }?>   
                <p style="margin-top:0;"><small><?=$value->designation?></small></p></td>
                <td style="">
                <p style="margin-bottom:0;"><?=$this->helper->convertToDate($value->date_started,'M d, Y')?></p>
                <p style="margin-top:0;"><small><?=$this->helper->convertToDate($value->date_started,'h:i A')?></small></p></td>
                <td style=""><?=$value->tat?> Day/s</td>

                <?php if($value->status == 1): ?>
                    <td style=""><?=$this->helper->subtractDate(CURR_DATETIME,$value->date_started)?> Day/s</td>
                <?php elseif($value->status == 2): ?>
                    <td style=""><?=$this->helper->subtractDate($value->date_approved,$value->date_started)?> Day/s</td>
                <?php endif; ?>   
                <?php $class="bg-success"; if($value->status_name == "Pending"){$class="bg-info";} 
                if($value->status == 1)
                {
                    $age = $this->helper->subtractDate(CURR_DATETIME,$value->date_started);
                    if($age > $value->tat)
                    {
                        $class="bg-danger";
                        $value->status_name = "Overdue";
                    }
                }
                elseif($value->status == 2) {
                    $age = $this->helper->subtractDate($value->date_approved,$value->date_started);
                    if($age > $value->tat)
                    {
                        $class="bg-success";
                        $value->status_name = "Approved";
                    }
                }
                    ?>  
                <td style=""><p class="status <?=$class?>"><?php if($value->status_name == "Approved"){echo "Completed";}else{echo $value->status_name;}?></p></td>

              </tr>
            <?php if($value->comments): ?>
              <tr class="comment">
                <td><small>Comments <span><?=$value->date_updated?></span></small></td>
                <td colspan="5">
                  <i class="text-warning fa  fa-commenting-o"></i> <i>"<?=$value->comments?>"</i>
                    <?php if($value->filename): ?>
                        <i class="text-warning fa  fa-paperclip fa-flip fa-flip-vertical"></i> <small style="text-decoration:underline;text-align:left;cursor:context-menu;">
                            <a href="<?=BASE_URI.'/uploads/requests/'.$value->filename?>" target="_blank">"<?=$value->filename?>"</a></small>
                     <?php endif;?>
                </td>
              </tr> 
            <?php endif;?>
         <?php endforeach; ?>        
           </tbody>
           <tfoot>
             <tr class="text-center">
               <td colspan="6"></td>
             </tr>
           </tfoot>
          </table>

          <div class="text-center col-sm-12" style="padding:0;margin-bottom: 30px;">
             <!-- <a class="btn btnf-f" style="color: #b1b1b1;"> View Task History</a> -->
          </div>
         <?php if ($requestEntry != "Approval") { ?> 
            <?php if ($activity_name != "Acknowledge Request") { ?>
                <div id="approverContainer" class="col-sm-8" style="padding:0;margin-bottom:10px;">
                  <label style="display:inline">Reassign To</label>
                  <input id="approver" type="text" class="form-control gene_required" style="display: inline-table;width: 70%;margin-left: 15px">
                </div>
            <?php } ?>
         <?php } ?>
          <div id="commentsContainer" class="col-md-12"  style="margin-bottom:10px;padding:0;">
            <textarea id="txtComment" class="form-control gene_required" placeholder="Write your comments here"></textarea>
          </div>
            <div class="col-lg-12" style="padding: 0px;">
              <input id="file-select" type="file" class="filestyle" data-input="false" data-buttonText="Attach Documents" data-iconName="fa fa-paperclip fa-flip-vertical" style="display:inline;">


              <div class="pull-right">
				<?php if ($requestEntry == "Approval") { ?>
					<button id="btnApprove" name="approve" class="btn btnf-f btn-success">APPROVE</button>
					<button id="btnReject"  name="reject" class="btn btnf-f btn-default">REJECT</button>					
				<?php } else { ?>
					<button id="btnApprove" name="<?php echo $requestEntry; ?>" class="btn btnf-f btn-success">COMPLETE</button>
					<?php if ($activity_name != "Acknowledge Request") { ?>
					<button id="btnReassign"  name="reject" class="btn btnf-f btn-default">RE-ASSIGN</button>
					<?php } ?>
					<?php if($request_details->total_completed > 0) : ?>
                                            <?php if($ctr > 1){?>
                                                <button id="btnReturn"  name="reject" class="btn btnf-f btn-default">RETURN</button>
                                            <?php }?>
					<?php endif;  ?>
				<?php } ?>
                
              </div>
            </div>
    

      </div>
    </div>
  </div>

</div>


</div>