<script type="text/javascript" src="https://cdn.datatables.net/r/bs-3.3.5/jqc-1.11.3,dt-1.10.8/datatables.min.js"></script>
<link rel="stylesheet" type="text/css" href="<?=BASE_URI?>css/datatables.min.css"/>
<script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
                                //$('#userlist').DataTable();
        $('#userlist').dataTable({
            paginate: false,
            searching: false,
            "order": [[ 0, "desc" ]],
        });
    });
</script>
<table id="userlist" class="table table-new table-condensed">
  <thead>
    <tr>
      <th style="width: 10%;font-size: 10px;" >Last Updated<!--<span class="caret">--></span></th>
      <!--<th style="width: 10%;">Employee ID<span class="caret"></span></th>-->
      <th style="width: 11%;font-size: 10px;">Last Name<!--<span class="caret">--></span></th>
      <th style="width: 10%;font-size: 10px;">First Name<!--<span class="caret">--></span></th>
      <th style="width: 15%;font-size: 10px;">Designation<!--<span class="caret">--></span></th>
      <th style="width: 15%;font-size: 10px;">Department<!--<span class="caret">--></span></th>
      <th style="width: 15%;font-size: 10px;">Location<!--<span class="caret">--></span></th>
      <th style="font-size: 10px;">E-mail Address<!--<span class="caret">--></span></th>
    </tr>
  </thead>
  <tbody>

  <?php foreach($list as $value): ?>
      <tr class="btnSubmit" employee_id = "<?=$value->employee_id?>" style="cursor:pointer;">
        <td><?=$this->helper->convertToDate($value->date_updated,'m/d/y')?></td>
        <!--<td><?=$value->employee_id?></td>-->
        <td><?=$value->last_name?></td>              
        <td><?=$value->firs_name?></td>
        <td><?=$value->designation?></td>
        <td><?=$value->department?></td>
        <td><?=$value->location?></td>
        <td><?=$value->email?></td>
      </tr>  
  <?php endforeach; ?>         
  </tbody>
</table>
  <form id="frmEdit" class="frmEdit" method="post" action="<?=BASE_URI?>admin/userManagement/editUser">
      <input id="employee_id" type="hidden" name="employee_id"> 

  </form>