<script type="text/javascript" src="https://cdn.datatables.net/r/bs-3.3.5/jqc-1.11.3,dt-1.10.8/datatables.min.js"></script>
<link rel="stylesheet" type="text/css" href="<?=BASE_URI?>css/datatables.min.css"/>
<script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
                                //$('#userlist').DataTable();
        $('#worflowlist').dataTable({
            paginate: false,
            searching: false,
        });
    });
</script>
<form id="frmEditWorkflow" method="post" action="<?=BASE_URI?>admin/create_workflow">
          <input type="hidden" name="workflow_id" id="workflow_id"/>
          
</form>
<form id="frmWorkflowSearchDate" method="post" action="<?=BASE_URI?>admin">
    <input type="hidden" id="wf_search_key_sort" name="wf_search_key_sort" value="date"/>
    <input type="hidden" name="wf_search_key_sort_extra" id="wf_search_key_sort_extra" value=<?=$wf_search_key_val?>/>
</form> 
<table id="worflowlist" class="table table-new table-condensed">
  <thead>
    <tr>
      <th style="font-size: 10px;">Date Created<!--<span class="caret">--></span></th>
      <th style="font-size: 10px;">Reference Number<!--<span class="caret">--></span></th>
      <th style="font-size: 10px; width: 150px;">Workflow Name<!--<span class="caret">--></span></th>
      <th style="font-size: 10px;">Request Department<!--<span class="caret">--></span></th>
      <th style="font-size: 10px;">Completed<!--<span class="caret">--></span></th>
      <th style="font-size: 10px;">In-Progress<!--<span class="caret">--></span></th>
      <th style="font-size: 10px;">Rejected<!--<span class="caret">--></span></th>
      <th style="font-size: 10px;" class="text-center">Status</span></th>
      <th style="font-size: 10px;" class="text-center">Action</th>
    </tr>
  </thead>
  <tbody>
  <?php foreach($workflows as $workflow): ?>  
    <tr>
      <td><?=$this->helper->convertToDate($workflow->date_created,'d/m/y')?></td>
      <td><?=$workflow->ref_no?></td>
      <td style="font-family:'Fira Sans'; font-weight:400; font-size: 12px; color: #454444;"><?=$workflow->name?></td>              
      <td><?=$workflow->category?></td>
      <td class="text-center"><strong style="font-weight:500; font-family:'Fira Sans'; font-size: 14px; color: #454444;"><?=$workflow->completed?></strong></td>
      <td class="text-center"><strong style="font-weight:500; font-family:'Fira Sans'; font-size: 14px; color: #454444;"><?=$workflow->in_progress?></strong></td>
      <td class="text-center"><strong style="font-weight:500; font-family:'Fira Sans'; font-size: 14px; color: #454444;"><?=$workflow->rejected?></strong></td>
      <td class="text-center">
          <?php $workflow_status="";
                $class_button="";
                if($workflow->status == 1){ 
                    $workflow_status = "Active";
                    $class_button="approved";
                }
                else if($workflow->status == 3)
                {
                    $workflow_status = "Suspended";
                    $class_button="overdue";
                }
          ?>
        <label class="span-stat <?=$class_button?>" style="font-size: 10px;"><?=$workflow_status?></label>
        <!--<a class="btn text-warning" data-toggle="modal" workflow-id="<?=$workflow->workflow_id?>" data-target="#activateworkflow">Change</a>-->
        <a id="btnChangeWorkflow" workflow-id="<?=$workflow->workflow_id?>" class="btn text-warning classChangeWorkflow" >Change</a>
         
      </td>
   
       <td class="text-center">
        <a workflow_id="<?=$workflow->workflow_id?>"   class="btn text-warning btn-edit-workflow">Edit</a>  
       
      </td>    
    </tr>
  <?php endforeach; ?>
<?php $this->partial('common/activate_workflow_modal'); ?>

  </tbody>
</table>

<style>
    #btnChangeWorkflow, .btn-edit-workflow {font-size: 10px;}
</style>