
<div class="container-fluid">
  <div class="login-panel col-md-4 text-center">
    <h5>Workflow Management System</h5>
    <div class="login-panel-inner col-md-12">
      <form role="form" method="post">

        <div class="form-group col-md-12" style="padding:0 0 6px 0;">
            <div class="error-message col-md-12 <?php if(!$error || trim($username_error) == '') echo 'hidden';?>">
              <label class="pull-left"><?=$username_error?></label>
            </div>
            <div class="error-message col-md-12 <?php if(!$error || trim($password_error) == '') echo 'hidden';?>">
              <label class="pull-left"><?=$password_error?></label>
            </div>            
            <div class="error-message hidden col-md-12 <?php if(!$error || trim($password_error) == '') echo 'hidden';?>">
              <label class="pull-left"><?=$password_error?></label>
            </div>
            <input type="text" value="<?=$username?>" name="username" class="validated-form form-control" id="username" placeholder="Username">

<!--             <span class="icon_check_alt form-control-feedback <?php if(!$success) echo 'hidden';?>" id="user-valid"></span>

            <span class="icon_close_alt form-control-feedback <?php if(!$error || trim($username_error) == '') echo 'hidden';?>" id="user-invalid"></span> -->
          

        </div> 

        <div class="form-group col-md-12" style="padding:6px 0 6px 0;">
            <input name="password" value="<?=$password?>" type="password" class="form-control" id="password" placeholder="Password">
  
<!--             <span class="icon_check_alt form-control-feedback <?php if(!$success) echo 'hidden';?>" id="user-valid"></span>

            <span class="icon_close_alt form-control-feedback <?php if(!$error || trim($password_error) == '') echo 'hidden';?>" id="user-invalid"></span> -->


        </div>

        <div class="btn-group col-md-12" style="padding:6px 0 0 0;">
          <button name="login" type="submit" class="btn btn-warning btn-block">Log In</button>
        </div>

      </form>
    </div>
  </div>

  <div style="position:absolute; bottom:20px; right:30px;">
    <img src="img/icons/logo.png" width="150">
  </div>
  
</div>